<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">8. Below you will find some scrambled sentences to be organized into a text which show the order to conduct an interview.</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-3" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="3" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
            </div>
        </div>
        <div id="col2">
            <div class="row">
                <div class="col-md-4">
                    <h3 id="ColorU4">A roadmap for the interview success</h3>
                </div>
                <div class="col-md-6">
                    <p>Use the following as a basic roadmap to steer you through the interview:</p>
                </div>
                <div class="text-center">
                    <div id="dvSource">
                        <ul id="answers" style="list-style-type: none;">
                            <li class="ui-state-default" id="answer1">
                                <img id="answer1" class="img-fluid" src="../../../content/units/unit4/10/p1.PNG">
                            </li>
                            <li class="ui-state-default" id="answer2">
                                <img id="answer2" class="img-fluid" src="../../../content/units/unit4/10/p2.PNG">
                            </li>
                            <li class="ui-state-default" id="answer3">
                                <img id="answer3" class="img-fluid" src="../../../content/units/unit4/10/p3.PNG">
                            </li>
                            <li class="ui-state-default" id="answer4">
                                <img id="answer4" class="img-fluid" src="../../../content/units/unit4/10/p4.PNG">
                            </li>
                            <li class="ui-state-default" id="answer5">
                                <img id="answer5" class="img-fluid" src="../../../content/units/unit4/10/p5.PNG">
                            </li>
                            <li class="ui-state-default" id="answer6">
                                <img id="answer6" class="img-fluid" src="../../../content/units/unit4/10/p6.PNG">
                            </li>
                            <li class="ui-state-default" id="answer7">
                                <img id="answer7" class="img-fluid" src="../../../content/units/unit4/10/p7.PNG">
                            </li>
                            <li class="ui-state-default" id="answer8">
                                <img id="answer8" class="img-fluid" src="../../../content/units/unit4/10/p8.PNG">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>