<div class="container">
<div class="row">
    <img src onerror="initializeScreenA()">
    <div id="col1">
        <div class="container">
            
    <script src="../../../js/CW3.js"></script>
            <div id="leftBox" class="puzzle">
                <table id="puzzel"></table>
            </div>
            <div>
                <input class="butt btn btn-info" type="submit" value="Clear All" onclick="clearAllClicked()" /><br>
                <input class="butt btn btn-info" type="submit" value="Check" onclick="checkClicked()" /><br>
                <input class="butt btn btn-info" type="submit" value="Solve" onclick="solveClicked()" data-toggle="modal" id="checkClick" /><br>

                <input class="butt btn btn-info" type="submit" value="Clue" onclick="clueClicked()" /><br>

            </div>
            <div class="sangria">
                <br>
                <h3>VERTICAL</h3>
                <p>
                    <strong>1.</strong> Lasting forever/for
                    a short period of time. <br />
                    <strong>2.</strong> Working 40 hours a
                    week or more or working less than 40,
                    usually around 20. <br />
                    <strong>4.</strong> Discuss something
                    with the goal of making an agreement.
                    <br />
                    <strong>5.</strong> Positive things
                    you've done. <br />
                    <strong>6.</strong> The things necessary
                    to do the job. <br />
                    <strong>7.</strong> A quality or
                    accomplishment that makes someone right
                    for a specific job. <br />
                    <strong>8.</strong> Duties. <br />
                    <strong>10.</strong> Proposal. <br />
                    <strong>12.</strong> Before. <br />
                    <strong>17.</strong> The person applying
                    for the job. <br />
                    <strong>18.</strong> Involvement in:
                    participation in. <br />
                </p>
                <h3>HORIZONTAL</h3>
                <p>
                    <strong>3.</strong> Job.<br />
                    <strong>9.</strong> Happening now.
                    <br />
                    <strong>11.</strong> Fit = match =
                    appropriate <br />
                    <strong>13.</strong> Human Resources.
                    <br />
                    <strong>14.</strong> The person being
                    considered for the job. <br />
                    <strong>15.</strong> The vvritten
                    details of the job that tell you what
                    the duties are. <br />
                    <strong>16.</strong> The person who is
                    the manager of the open role that you
                    are applying for. <br />
                    <strong>19.</strong> A strength. <br />
                    <strong>20.</strong> To register for
                    something. <br />
                </p>
            </div>
        <div class="modal fade" id="wingame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Congrats!!!
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You Win !
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>