<div class="container">
        <div class="row">
                <div id="col1">
                        <h3 id="ColorU4">
                                1. Use the language tips to express your opinion
                                and write sentences about the statements.
                        </h3>
                        
                    
                </div>

                <div id="col2" class="pag5">
                        <div class="row">
                                <img
                                        src="../../../content/units/unit4/3/PAG3_07.png"
                                        alt=""
                                        class="img-fluid"
                                        height="200"
                                        width="200"
                                />
                                <div class="col-md-6">
                                            <p>
                                                Example: <br />
                                                    I use old formats to prepare the
                                                    interview. <br />
                                                    <b
                                                            >In my opinion, you have
                                                            to keep files
                                                            updated.</b
                                                    >
                                            </p>
                                </div>
                        </div>

                        <div>
                                <div class="input-group col-sm-8 content-test">
                                        <span
                                                >1. The HR professional is late.
                                        </span>
                                </div>
                                <div class="form-group cuesti10">
                                        <div class="input-group">
                                                <input
                                                        class="form-control form-control-sm"
                                                        type="text"
                                                        id="question1"
                                                />
                                                <div
                                                        class="input-group-prepend"
                                                >
                                                        <span
                                                                class="input-group-text"
                                                                id="chqu1"
                                                                ><img
                                                                        class="img-fluid"
                                                        /></span>
                                                </div>
                                        </div>
                                        <span
                                                class="error-answer"
                                                id="correct_answer1"
                                        ></span>
                                </div>
                        </div>
                        <div>
                                <div class="input-group col-sm-8 content-test">
                                        <span
                                                >2. Having a good attitude is
                                                not necessary.
                                        </span>
                                </div>
                                <div class="form-group cuesti10">
                                        <div class="input-group">
                                                <input
                                                        class="form-control form-control-sm"
                                                        type="text"
                                                        id="question2"
                                                />
                                                <div
                                                        class="input-group-prepend"
                                                >
                                                        <span
                                                                class="input-group-text"
                                                                id="chqu2"
                                                                ><img
                                                                        class="img-fluid"
                                                        /></span>
                                                </div>
                                        </div>
                                        <span
                                                class="error-answer"
                                                id="correct_answer2"
                                        ></span>
                                </div>
                        </div>
                        <div>
                                <div class="input-group col-sm-8 content-test">
                                        <span
                                                >3. External recruitment is very
                                                easy.</span
                                        >
                                </div>
                                <div class="form-group cuesti10">
                                        <div class="input-group">
                                                <input
                                                        class="form-control form-control-sm"
                                                        type="text"
                                                        id="question3"
                                                />
                                                <div
                                                        class="input-group-prepend"
                                                >
                                                        <span
                                                                class="input-group-text"
                                                                id="chqu3"
                                                                ><img
                                                                        class="img-fluid"
                                                        /></span>
                                                </div>
                                        </div>
                                        <span
                                                class="error-answer"
                                                id="correct_answer3"
                                        ></span>
                                </div>
                        </div>
                        <div>
                                <div class="input-group col-sm-8 content-test">
                                        <span
                                                >4. Setting interview
                                                expectations is
                                                unnecessary.</span
                                        >
                                </div>
                                <div class="form-group cuesti10">
                                        <div class="input-group">
                                                <input
                                                        class="form-control form-control-sm"
                                                        type="text"
                                                        id="question4"
                                                />
                                                <div
                                                        class="input-group-prepend"
                                                >
                                                        <span
                                                                class="input-group-text"
                                                                id="chqu4"
                                                                ><img
                                                                        class="img-fluid"
                                                        /></span>
                                                </div>
                                        </div>
                                        <span
                                                class="error-answer"
                                                id="correct_answer4"
                                        ></span>
                                </div>
                        </div>
                          
                        <div>
                            <div class="input-group col-sm-8 content-test">
                                    <span
                                            >5. The hiring manager is giving orders all the time. </span
                                    >
                            </div>
                            <div class="form-group cuesti10">
                                    <div class="input-group">
                                            <input
                                                    class="form-control form-control-sm"
                                                    type="text"
                                                    id="question5"
                                            />
                                            <div
                                                    class="input-group-prepend"
                                            >
                                                    <span
                                                            class="input-group-text"
                                                            id="chqu5"
                                                            ><img
                                                                    class="img-fluid"
                                                    /></span>
                                            </div>
                                    </div>
                                    <span
                                            class="error-answer"
                                            id="correct_answer5"
                                    ></span>
                            </div>
                    </div>
                </div>
        </div>
</div>
<script
        type="text/javascript"
        src="../../../js/lib/jquery-3.6.0.min.js"
></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script
        type="text/javascript"
        src="../../../js/lib/sweetalert2.min.js"
></script>
<script
        type="text/javascript"
        src="../../../js/lib/html2canvas.min.js"
></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>
