<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">
                6. Now listen to Dr. Hernández talk about other types of interviewing and complete the blanks with words from the box.
            </h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-2" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
            </div>

            <div>
                <audio src="../../../content/units/unit6/sounds/LISTENING.mp3" preload="auto" controls></audio>
            </div>
        </div>
        <div id="col2" class="pag5 content-zoom-1">
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group content-test content-zoom-1 cuesti10">
                    <span>
                                                <strong>
                                                        Behavioral-Based
                                                        Interview
                                                </strong>
                                        </span>
                    <span> It is also</span>
                    <div class="form-group cuesti10 cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question1" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu1"><img
                                                                                class="img-fluid"
                                                                /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer1"></span>
                    </div>
                    <span>as Critical Behavioral
                                                Interviewing (CBI), the theory
                                                is that past
                                        </span>
                    <div class="form-group cuesti10 cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question2" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu2"><img
                                                                                class="img-fluid"
                                                                /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer2"></span>
                    </div>
                    <span>in a similar situation is the
                                                best predictor of future
                                                </span
                                        >
                                        <div class="form-group cuesti10">
                                                <div class="input-group">
                                                        <input
                                                                class="form-control form-control-sm"
                                                                type="text"
                                                                id="question3"
                                                        />
                                                        <div
                                                                class="input-group-prepend"
                                                        >
                                                                <span
                                                                        class="input-group-text"
                                                                        id="chqu3"
                                                                        ><img
                                                                                class="img-fluid"
                                                                /></span>
                </div>
            </div>
            <span class="error-answer" id="correct_answer3"></span>
        </div>
        <span>. This method of
                                                interview</span
                                        >
                                        <div class="form-group cuesti10">
                                                <div class="input-group">
                                                        <input
                                                                class="form-control form-control-sm"
                                                                type="text"
                                                                id="question4"
                                                        />
                                                        <div
                                                                class="input-group-prepend"
                                                        >
                                                                <span
                                                                        class="input-group-text"
                                                                        id="chqu4"
                                                                        ><img
                                                                                class="img-fluid"
                                                                /></span>
    </div>
</div>
<span class="error-answer" id="correct_answer4"></span>
</div>
<span>much deeper than the usual
                                                interviewing</span
                                        >
                                        <div class="form-group cuesti10">
                                                <div class="input-group">
                                                        <input
                                                                class="form-control form-control-sm"
                                                                type="text"
                                                                id="question5"
                                                        />
                                                        <div
                                                                class="input-group-prepend"
                                                        >
                                                                <span
                                                                        class="input-group-text"
                                                                        id="chqu5"
                                                                        ><img
                                                                                class="img-fluid"
                                                                /></span>
</div>
</div>
<span class="error-answer" id="correct_answer5"></span>
</div>
</div>
</div>
<div>
    <!--<input type="text" id="question1" />-->
    <div class="input-group content-test">
        <span>
                                                <strong>
                                                        Task Oriented or Testing
                                                        Interview
                                                </strong>
                                        </span>
        <span>These interviews are </span>
        <div class="form-group cuesti10">
            <div class="input-group">
                <input class="form-control form-control-sm" type="text" id="question6" />
                <div class="input-group-prepend">
                    <span class="input-group-text" id="chqu6"><img
                                                                                class="img-fluid"
                                                                /></span>
                </div>
            </div>
            <span class="error-answer" id="correct_answer6"></span>
        </div>
        <span>in a way that allows you to
                                                demonstrate your
                                        </span>
        <div class="form-group cuesti10">
            <div class="input-group">
                <input class="form-control form-control-sm" type="text" id="question7" />
                <div class="input-group-prepend">
                    <span class="input-group-text" id="chqu7"><img
                                                                                class="img-fluid"
                                                                /></span>
                </div>
            </div>
            <span class="error-answer" id="correct_answer7"></span>
        </div>
        <span>and analytical abilities in
                                                problem solving</span
                                        >
                                        <div class="form-group cuesti10">
                                                <div class="input-group">
                                                        <input
                                                                class="form-control form-control-sm"
                                                                type="text"
                                                                id="question8"
                                                        />
                                                        <div
                                                                class="input-group-prepend"
                                                        >
                                                                <span
                                                                        class="input-group-text"
                                                                        id="chqu8"
                                                                        ><img
                                                                                class="img-fluid"
                                                                /></span>
    </div>
</div>
<span class="error-answer" id="correct_answer8"></span>
</div>
<span>varied tasks or exercises. It
                                                may include a short test to
                                                evaluate your technical
                                                </span
                                        >
                                        <div class="form-group cuesti10">
                                                <div class="input-group">
                                                        <input
                                                                class="form-control form-control-sm"
                                                                type="text"
                                                                id="question9"
                                                        />
                                                        <div
                                                                class="input-group-prepend"
                                                        >
                                                                <span
                                                                        class="input-group-text"
                                                                        id="chqu9"
                                                                        ><img
                                                                                class="img-fluid"
                                                                /></span>
</div>
</div>
<span class="error-answer" id="correct_answer9"></span>
</div>
<span> and skills. <br />

                                                <strong>
                                                        Stress Interview</strong
                                                >
                                                <br />
                                                This method of interview is rare
                                                and </span
                                                >
                                                <div class="form-group cuesti10">
                                                        <div class="input-group">
                                                                <input
                                                                        class="form-control form-control-sm"
                                                                        type="text"
                                                                        id="question10"
                                                                />
                                                                <div
                                                                        class="input-group-prepend"
                                                                >
                                                                        <span
                                                                                class="input-group-text"
                                                                                id="chqu10"
                                                                                ><img
                                                                                        class="img-fluid"
                                                                        /></span>
</div>
</div>
<span class="error-answer" id="correct_answer10"></span>
</div>
<span> the interviewer
                                                baiting you to see your
                                                response. The aim is to
                                                </span
                                        >
                                        <div class="form-group cuesti10">
                                                <div class="input-group">
                                                        <input
                                                                class="form-control form-control-sm"
                                                                type="text"
                                                                id="question11"
                                                        />
                                                        <div
                                                                class="input-group-prepend"
                                                        >
                                                                <span
                                                                        class="input-group-text"
                                                                        id="chqu11"
                                                                        ><img
                                                                                class="img-fluid"
                                                                /></span>
</div>
</div>
<span class="error-answer" id="correct_answer11"></span>
</div>
<span>
                                        </span>
<div class="form-group cuesti10">
    <div class="input-group">
        <input class="form-control form-control-sm" type="text" id="question12" />
        <div class="input-group-prepend">
            <span class="input-group-text" id="chqu12"><img class="img-fluid"/></span>
        </div>
        <span>your weaknesses and see how you</span>
        <span class="error-answer" id="correct_answer12"></span>
    </div>
    <div class="form-group cuesti10">
        <div class="input-group">
            <input class="form-control form-control-sm" type="text" id="question13" />
            <div class="input-group-prepend">
                <span class="input-group-text" id="chqu13"><img
                                                                                class="img-fluid"
                                                                /></span>
            </div>
        </div>
        <span class="error-answer" id="correct_answer13"></span>
    </div>
    <span> under
                                                </span
                                                >
                                                <div class="form-group cuesti10">
                                                        <div class="input-group">
                                                                <input
                                                                        class="form-control form-control-sm"
                                                                        type="text"
                                                                        id="question14"
                                                                />
                                                                <div
                                                                        class="input-group-prepend"
                                                                >
                                                                        <span
                                                                                class="input-group-text"
                                                                                id="chqu14"
                                                                                ><img
                                                                                        class="img-fluid"
                                                                        /></span>
</div>
</div>
<span class="error-answer" id="correct_answer14"></span>
</div>
<span>.
                                                        </span>
</div>
</div>
</div>
</div>
<div id="col3">
        <img class="img-fluid" src="../../../content/units/unit4/8/PAG8_08.png" />
    </div>
</div>




<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>
</div>
</div>