<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">5. Match the definition to its corresponding type of interview.</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-1" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
            </div>
        </div>
        <div id="col2">
            <div>
                <h3 id="ColorU4"> Types of interview</h3>
            </div>
            <div>
                <div>There are a multitude of interview types that serve different scenarios. Knowing what to expect can help you to meet your goals.</div>
                <img src="../../../content/units/unit4/5/r1.PNG" alt="">
            </div>
        </div>
        <div id="col3" class="pag5">
            <div class="content-text content-zoom-1">
                <div>
                    <div class="input-group  content-test">
                        <br>

                        <div class="form-group cuesti10">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question1" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer1"></span>
                        </div>
                        <span>These interviews mean meeting a
                        panel of decision makers at once.
                        This can be intimidating if you are
                        not well prepared in advance. More
                        
                        than one interviewer means effi-
                        ciency and an opportunity for diffe-
                        rent opinions.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">

                        <div class="form-group cuesti10">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question2" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer2"></span>
                        </div>
                        <span>These are proving to be a more cost
                        effective way to screen candidates.
                        Slots range from 10 to 30 minutes.
                        Candidates can prepare for it as if it
                        is an open book exam. They can
                        have CV, the job description, list of</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">

                        <div class="form-group cuesti10">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question3" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer3"></span>
                        </div>
                        <span>This interview means you have been successful on the first occasion and they would like to know more. These interviews can be longer, some lasting half or a full-day. They often mean meeting three to five people which can include Human Resources, the line manager, office staff and the head of department. This is usually the last stage before an offer of employment is made.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">

                        <div class="form-group cuesti10">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question4" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer4"></span>
                        </div>
                        <span>The objective is to seek advice and learn more about a particular employer. Interviewing experts in their field is one more way to add to your employment knowledge base.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">

                        <div class="form-group cuesti10">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question5" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer5"></span>
                        </div>
                        <span>It is often referred to as a “personal interview”. This is the most common type of interview and is usually held face to face at the company’s offices. It ranges from 30 to 90 minutes.  Shorter interviews will mean concise answers and longer interviews allow more time to go into detail.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>