<div class="container">
    <div class="row">
        <div id="col1">
            <img class="img-fluid" src="../../../content\units\unit2\img\Pag8\unit2__8_07.png" alt="">
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <img class="img-fluid" src="../../../content\units\unit2\img\Pag8\unit2__8_08.png" alt="">
                <p class="zoom-text text-left"> If you have a stove with a grill or broiler, or an appliance such as an electric grill, you can also <b>grill</b> meat, fish and vegetables. If you're grilling food at a high temperature, be careful. It's easy to <b>burn</b> it if you
                    cook the food for too long. But many people love grilling, and some even say it's the best way to cook fish, steak and many other meats. If you also have an oven you can <b>roast</b> certain meats and vegetables. In an oven, food is
                    surrounded by hot air that gradually cooks from all sides, so roasting a whole chicken or a leg of lamb takes time. After being cooked, roast meat is <b>carved</b> into pieces before being <b>served</b>, often together with roast potatoes,
                    carrots and onions. A meal like this is sometimes called a "Sunday roast" as it was traditionally cooked every Sunday in countries like England and Australia.</p>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <br>
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <div class="content-zoom-ep">
                <img class="img-fluid" src="../../../content\units\unit2\img\Pag8\unit2__8_09.png" alt="">
                <p class="zoom-text text-left">Ovens can also be used to <b>bake</b> foods like bread, cakes, cookies, pastries and pies. The main ingredient of most baked foods is wheat flour. After being sifted to remove any lumps, the flour is used to <b>prepare</b> a batter or
                    dough that's put into a <b>preheated</b> oven to bake. People often think baking is difficult, but as the following recipe shows it can be easy if you have simple directions to follow.</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>