<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU2">5. Read the text and solve the following activities.</h3>
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <img class="img-fluid" src="../../../content\units\unit2\img\Pag7\unit2__7_07.png" alt="">
                <p class="zoom-text text-left"> know how to <b>cook</b> is a one of the most useful skills we can learn. If we can cook, we can eat healthy
                    <b>dishes</b> made at home with fresh
                    <b>ingredients</b> instead of having to buy unhealthy fast food or expensive pre-cooked or frozen meals. To cook our own meals is not only healthy and cheap, but can also be fun if we explore <b>cookbooks</b> and cooking websites and
                    find new <b>recipes</b> to try.</p>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <br>
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>


        </div>
        <div id="col3">
            <div class="content-zoom-ep">
                <img class="img-fluid" src="../../../content\units\unit2\img\Pag7\unit2__7_08.png" alt="">
                <p class="zoom-text text-left">Even if you only have a small stove or cooker with a couple of hotplates, you can cook delicious food at home. You can <b>fry</b> meat, fish or eggs in a frying pan with oil or butter. You can also <b>chop</b> or <b>slice</b> vegetables
                    and
                    <b>sauté</b> or <b>stir-fry</b> them in a pan or a wok. Another way of cooking vegetables and grains like rice is to <b>boil</b> or <b>steam</b> them. You can <b>peel</b> vegetables like potatoes and carrots before cooking them, and
                    even
                    <b>mash</b> them after they're cooked if you like. You can also boil other foods like spaghetti, eggs and certain meats, or steam fish and other seafood like crabs and mussels. With a simple hotplate you can also make soups and stews.
                    The ingredients for these often include <b>diced</b> meats and vegetables as well as a <b>pinch</b> of salt. You can also <b>sprinkle</b> in <b>spices</b> like pepper or paprika or add <b>herbs</b> like basil or parsley. You can even
                    make sauces if you <b>melt</b> butter in a saucepan and <b>mix</b> in flour and milk but before you can <b>add</b> other ingredients like <b>grated</b> cheese and then <b>stir</b> until your sauce is smooth.
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>