<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU2">7. Answer the questions according to the text.</h3>
            <img class="img-fluid" id="img-try-5" src=""><br>
            <img class="btn-save img-fluid" data-id="5" src="../../../content/theme/botones/review_but_reposo.png">
        </div>
        <div id="col2">
            <div>
                <p><b>1.&nbsp; What does a cookbook contain?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="11">a</span>&nbsp;<span>cooks</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="12">b</span>&nbsp;<span>courses</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="13">c</span>&nbsp;<span>recipes</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu1"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer1"></span>
                        <input type="hidden" id="question1">
                    </div>
                </div>
            </div>
            <div>
                <p><b>2.&nbsp; Which can be "ingredients"?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="21">a</span>&nbsp;<span>herbs, spices, meats</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="22">b</span>&nbsp;<span>adding, mixing, mashing</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="23">c</span>&nbsp;<span>pans, pots, spoons</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu2"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer2"></span>
                        <input type="hidden" id="question2">
                    </div>
                </div>
            </div>
            <div>
                <p><b>3.&nbsp; Before cooking or eating certain fruits and vegetables, some people _______ them.</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="31">a</span>&nbsp;<span>peel</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="32">b</span>&nbsp;<span>carve</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="33">c</span>&nbsp;<span>beat</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu3"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer3"></span>
                        <input type="hidden" id="question3">
                    </div>
                </div>
            </div>
            <div>
                <p><b>4.&nbsp; Which is not usually done with a knife?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="41">a</span>&nbsp;<span>chopping vegetables</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="42">b</span>&nbsp;<span>grating cheese</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="43">c</span>&nbsp;<span>dicing meat</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu4"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer4"></span>
                        <input type="hidden" id="question4">
                    </div>
                </div>
            </div>
            <div>
                <p><b>5.&nbsp; Which two words are the closest in meaning?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="51">a</span>&nbsp;<span>cook and serve</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="52">b</span>&nbsp;<span>sauté and stir-fry</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="53">c</span>&nbsp;<span>melt and grease</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu5"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer5"></span>
                        <input type="hidden" id="question5">
                    </div>
                </div>
            </div>
            <div>
                <p><b>6.&nbsp; Which of these amounts is the smallest?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="61">a</span>&nbsp;<span>a tablespoon</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="62">b</span>&nbsp;<span>a teaspoon</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="63">c</span>&nbsp;<span>a pinch</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu6"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer6"></span>
                        <input type="hidden" id="question6">
                    </div>
                </div>
            </div>
            <div>
                <p><b>7.&nbsp; Which action is done just with the fingers?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="71">a</span>&nbsp;<span>sprinkling</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="72">b</span>&nbsp;<span>slicing</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="73">c</span>&nbsp;<span>whisking</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu7"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer7"></span>
                        <input type="hidden" id="question7">
                    </div>
                </div>
            </div>
            <div>
                <p><b>8.&nbsp; Which means "to cut into small squares or cubes"?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="81">a</span>&nbsp;<span>to dice</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="82">b</span>&nbsp;<span>to chop</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="83">c</span>&nbsp;<span>to carve</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu8"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer8"></span>
                        <input type="hidden" id="question8">
                    </div>
                </div>
            </div>
            <div>
                <p><b>9.&nbsp; Which is usually carved with a carving knife?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="91">a</span>&nbsp;<span>a chocolate cake</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="92">b</span>&nbsp;<span>a roast chicken</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="93">c</span>&nbsp;<span>a fried egg</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu9"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer9"></span>
                        <input type="hidden" id="question9">
                    </div>
                </div>
            </div>
            <div>
                <p><b>10.&nbsp; Which cooking methods work by surrounding food with hot air on all sides?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="101">a</span>&nbsp;<span>boiling and steaming</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="102">b</span>&nbsp;<span>frying and grilling</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="103">c</span>&nbsp;<span>baking and roasting</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu10"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer10"></span>
                        <input type="hidden" id="question10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>