<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3 id="ColorU2">3. Now match the words to the images.</h3>
            </div>
            <div id="dvSource">
                <table>
                    <tbody>
                        <tr>
                            <td><img id="answer1" src="../../../content/units/unit2/img/pag5/answer1.png"></td>
                            <td><img id="answer2" src="../../../content/units/unit2/img/pag5/answer2.png"></td>

                        </tr>
                        <tr>
                            <td><img id="answer3" src="../../../content/units/unit2/img/pag5/answer3.png"></td>
                            <td><img id="answer4" src="../../../content/units/unit2/img/pag5/answer4.png"></td>
                        </tr>
                        <tr>
                            <td><img id="answer5" src="../../../content/units/unit2/img/pag5/answer5.png"></td>
                            <td><img id="answer6" src="../../../content/units/unit2/img/pag5/answer6.png"></td>
                        </tr>
                        <tr>
                            <td><img id="answer7" src="../../../content/units/unit2/img/pag5/answer7.png"></td>
                            <td><img id="answer8" src="../../../content/units/unit2/img/pag5/answer8.png"></td>

                        </tr>
                        <tr>
                            <td><img id="answer9" src="../../../content/units/unit2/img/pag5/answer9.png"></td>
                            <td><img id="answer10" src="../../../content/units/unit2/img/pag5/answer10.png"></td>
                        </tr>
                        <tr>

                            <td><img id="answer11" src="../../../content/units/unit2/img/pag5/answer11.png"></td>
                            <td><img id="answer12" src="../../../content/units/unit2/img/pag5/answer12.png"></td>
                        </tr>
                        <tr>
                            <td><img id="answer13" src="../../../content/units/unit2/img/pag5/answer13.png"></td>
                            <td><img id="answer14" src="../../../content/units/unit2/img/pag5/answer14.png"></td>

                        </tr>
                        <tr>
                            <td><img id="answer15" src="../../../content/units/unit2/img/pag5/answer15.png"></td>
                            <td><img id="answer16" src="../../../content/units/unit2/img/pag5/answer16.png"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-2" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
        </div>
        <div id="col2" style="height: 100%;">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question1.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question2.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question3.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question4.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question5.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question6.png"></td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid" id="content1" src="../../../content/units/unit2/img/pag5/images_answer.png"></td>
                        <input type="hidden" id="question1">
                        <td><img class="img-fluid" id="content2" src="../../../content/units/unit2/img/pag5/images_answer.png"></td>
                        <input type="hidden" id="question2">
                        <td><img class="img-fluid" id="content3" src="../../../content/units/unit2/img/pag5/images_answer.png"></td>
                        <input type="hidden" id="question3">
                        <td><img class="img-fluid" id="content4" src="../../../content/units/unit2/img/pag5/images_answer.png"></td>
                        <input type="hidden" id="question4">
                        <td><img class="img-fluid" id="content5" src="../../../content/units/unit2/img/pag5/images_answer.png"></td>
                        <input type="hidden" id="question5">
                        <td><img class="img-fluid" id="content6" src="../../../content/units/unit2/img/pag5/images_answer.png"></td>
                        <input type="hidden" id="question6">
                    </tr>
                    <tr>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu1"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu2"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu3"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu4"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu5"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu6"><img class="img-fluid" /></span></td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question7.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question8.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question9.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question10.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question11.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question12.png"></td>
                    </tr>
                    <tr>
                        <div id="dvDest2">
                            <td><img class="img-fluid" id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question7">
                            <td><img class="img-fluid" id="content8" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question8">
                            <td><img class="img-fluid" id="content9" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question9">
                            <td><img class="img-fluid" id="content10" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question10">
                            <td><img class="img-fluid" id="content11" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question11">
                            <td><img class="img-fluid" id="content12" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question12">
                        </div>
                    </tr>
                    <tr>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu7"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu8"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu9"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu10"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu11"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu12"><img class="img-fluid" /></span></td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question13.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question14.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question15.png"></td>
                        <td><img class="img-fluid" src="../../../content/units/unit2/img/pag5/question16.png"></td>
                    </tr>
                    <tr>
                        <div id="dvDest2">
                            <td><img class="img-fluid" id="content13" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question13">
                            <td><img class="img-fluid" id="content14" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question14">
                            <td><img class="img-fluid" id="content15" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question15">
                            <td><img class="img-fluid" id="content16" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question16">
                        </div>
                    </tr>
                    <tr>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu13"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu14"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu15"><img class="img-fluid" /></span></td>
                        <td style="padding-top: 0; text-align: center;"><span id="chqu16"><img class="img-fluid" /></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>