<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3 id="ColorU2">10. Think of and explain a recipe of your hometown, ingredients, process, and personal touch.</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="../../../content\units\unit2\img\Pag14\unit2__14_12.png" alt="">
                </div>
            </div>
        </div>
        <div id="col2">
            <div class="contenedor-texto">
                <div class="">
                    <p id="ColorU2" class="boldp text-justify">Let's Write</p>

                    <textarea class="form-control z-depth-1 zoom-text" rows="14" cols="25" placeholder="Type your text here..."></textarea>

                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit2\img\Pag14\unit2__14_07.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>