<div class="container">
    <div class="row">
        <div id="col1">

            <div id="dvSource">
                <table>
                    <tbody>
                        <tr>
                            <td><img class="img-fluid" id="answer1" src="../../../content/units/unit2/img/pag12/answer1.png"></td>
                            <td><img class="img-fluid" id="answer2" src="../../../content/units/unit2/img/pag12/answer2.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer3" src="../../../content/units/unit2/img/pag12/answer3.png"></td>
                            <td><img class="img-fluid" id="answer4" src="../../../content/units/unit2/img/pag12/answer4.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer5" src="../../../content/units/unit2/img/pag12/answer5.png"></td>
                            <td><img class="img-fluid" id="answer6" src="../../../content/units/unit2/img/pag12/answer6.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer7" src="../../../content/units/unit2/img/pag12/answer7.png"></td>
                            <td><img class="img-fluid" id="answer8" src="../../../content/units/unit2/img/pag12/answer8.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer9" src="../../../content/units/unit2/img/pag12/answer9.png"></td>
                            <td><img class="img-fluid" id="answer10" src="../../../content/units/unit2/img/pag12/answer10.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer11" src="../../../content/units/unit2/img/pag12/answer11.png"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-6" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="6" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U2.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U2.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U2.png';"
                            onclick="ocultar();">
                    </div>
                </div>
                <audio id="audioEng" src="../../../content\units\unit2\sounds/VANILLA CAKE UNIT 2.mp3"></audio>
                <audio id="audioSpa" src="../../../content\units\unit2\sounds\VANILLA CAKE UNIT 2.mp3"></audio>
            </div>
        </div>
        <div id="col2">
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group col-sm-8 content-test">
                    <td><img class="img-fluid" id="content1" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question1">
                    <span>oven to 350 degrees F (175 degrees C).</span>
                </div>
                <span class="error-answer" id="correct_answer1"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <td><img class="img-fluid" id="content2" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question2">
                    <span>and</span>
                    <td><img class="img-fluid" id="content3" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question3">
                    <span>a cake pan.</span>
                </div>
                <span class="error-answer" id="correct_answer2"></span>
                <span class="error-answer" id="correct_answer3"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>In a mixing bowl,</span>
                    <td><img class="img-fluid" id="content4" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question4"><span>together the sugar and butter.</span>
                </div>
                <span class="error-answer" id="correct_answer4"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <td><img class="img-fluid" id="content5" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question5">
                    <span>in the eggs,</span>
                </div>
                <span class="error-answer" id="correct_answer5"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>then</span>
                    <td><img class="img-fluid" id="content6" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question6">

                </div>
                <span class="error-answer" id="correct_answer6"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>a tablespoon of vanilla extract and</span>
                    <td><img class="img-fluid" id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question7">
                </div>
                <span class="error-answer" id="correct_answer7"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>Add flour to the mixture and</span>
                    <td><img class="img-fluid" id="content8" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question8">
                    <span>in milk until the batter is smooth.</span>
                </div>
                <span class="error-answer" id="correct_answer8"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <td><img class="img-fluid" id="content9" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question9">
                    <span>or</span>
                    <td><img class="img-fluid" id="content10" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question10">
                    <span>the batter into the greased cake pan.</span>
                </div>
                <span class="error-answer" id="correct_answer9"></span>
                <span class="error-answer" id="correct_answer10"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <td><img class="img-fluid" id="content11" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question11">
                    <span>for 30 to 40 minutes in the oven.</span>
                </div>
                <span class="error-answer" id="correct_answer11"></span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>