<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU2">4. Read the statements and choose the correct option</h3>
            <img class="img-fluid" id="img-try-3" src=""><br>
            <img class="btn-save img-fluid" data-id="3" src="../../../content/theme/botones/review_but_reposo.png">
        </div>
        <div id="col2">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <p><b>a.&nbsp; A kitchen sink is not normally used for</b></p>
                        <div class="col-md-12">
                            <div>
                                <span class="btn-m3" id="11">1</span>&nbsp;<span>rinsing salad vegetables</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="12">2</span>&nbsp;<span>washing dirty dishes</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="13">3</span>&nbsp;<span>making ham sandwiches</span>
                            </div>
                        </div>
                        <div style="padding-top: 0; text-align: center;">
                            <span id="chqu1"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="error-answer" id="correct_answer1"></span>
                            <input type="hidden" id="question1">
                        </div>
                    </div>
                    <div>
                        <p><b>b.&nbsp; Be careful when using a chopping board or you can</b></p>
                        <div class="col-md-12">
                            <div>
                                <span class="btn-m3" id="21">1</span>&nbsp;<span>cut yourself</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="22">2</span>&nbsp;<span>beat yourself</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="23">3</span>&nbsp;<span>burn yourself</span>
                            </div>
                        </div>
                        <div style="padding-top: 0; text-align: center;">
                            <span id="chqu2"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="error-answer" id="correct_answer2"></span>
                            <input type="hidden" id="question2">
                        </div>
                    </div>
                    <div>
                        <p><b>c.&nbsp; A grater is a tool to</b></p>
                        <div class="col-md-12">
                            <div>
                                <span class="btn-m3" id="31">1</span>&nbsp;<span>wash dishes</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="32">2</span>&nbsp;<span>heat food</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="33">3</span>&nbsp;<span>cut food into small pieces</span>
                            </div>
                        </div>
                        <div style="padding-top: 0; text-align: center;">
                            <span id="chqu3"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="error-answer" id="correct_answer3"></span>
                            <input type="hidden" id="question3">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <p><b>d.&nbsp; A kitchen is a place for _______ food</b></p>
                        <div class="col-md-12">
                            <div>
                                <span class="btn-m3" id="41">1</span>&nbsp;<span>ordering</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="42">2</span>&nbsp;<span>preparing</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="43">3</span>&nbsp;<span>eating</span>
                            </div>
                        </div>
                        <div style="padding-top: 0; text-align: center;">
                            <span id="chqu4"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="error-answer" id="correct_answer4"></span>
                            <input type="hidden" id="question4">
                        </div>
                    </div>
                    <div>
                        <p><b>e.&nbsp; What does a set of cookware include?</b><br></p>
                        <div>
                            <div>
                                <span class="btn-m3" id="51">1</span>&nbsp;<span>knives and forks</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="52">2</span>&nbsp;<span>pots and pans</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="53">3</span>&nbsp;<span>plates and dishes</span>
                            </div>
                        </div>
                        <div style="padding-top: 0; text-align: center;">
                            <span id="chqu5"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="error-answer" id="correct_answer5"></span>
                            <input type="hidden" id="question5">
                        </div>
                    </div>
                    <div>
                        <p><b>f.&nbsp; Which is a list of kitchen appliances?</b></p>
                        <div>
                            <div>
                                <span class="btn-m3" id="61">1</span>&nbsp;<span>stove, dishwasher, microwave oven</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="62">2</span>&nbsp;<span>peeler, tongs, spatula</span>
                            </div>
                            <div>
                                <span class="btn-m3" id="63">3</span>&nbsp;<span>colander, chopping board, grater</span>
                            </div>
                        </div>
                        <div style="padding-top: 0; text-align: center;">
                            <span id="chqu6"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <span class="error-answer" id="correct_answer6"></span>
                            <input type="hidden" id="question6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>