<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU2">1.Talk individually about the catering questions.</h3>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit2\img\Pag3\unit2__3_14.png" alt=""></div>
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U2.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U2.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U2.png';"
                        onclick="ocultar();">
                    <input type="image" name="Español" onclick="playAudioSpa()" src="../../../content/theme/botones/Btn_Espanol_U2.png" alt="Español" onclick="this.src='../../../content/theme/botones/Btn_Espanol_U2.png';" onmouseout="this.src='../../../content/theme/botones/Btn_Espanol_U2.png';">
                </div>
                <audio id="audioEng" src="../../../content/units/unit2/sounds/lets talk.mp3"></audio>
                <audio id="audioSpa" src="../../../content/units/unit2/sounds/lets talk 2 espanol.mp3"></audio>
            </div>
        </div>
        <div id="col2">
            <img class="img-fluid" src="../../../content\units\unit2\img\Pag3\unit2__3_03.png">
        </div>
        <div id="col3">
            <h3 id="ColorU2">Inside The Kitchen</h3>
            <ol>
                <li>What do you see in a kitchen?</li>
                <li>Is the work inside a kitchen stressful? Why/why not?</li>
                <li>What type of work is needed?</li>
                <li>What skills do you need to be part of kitchen staff?</li>
                <li>Do you know the names of the parts of the uniform?</li>
            </ol>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>