<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU6">5. Good Restaurant Kitchen Design Characteristics</h3>
            <img class="img-fluid-1" src="../../../content\units\unit6\C6\PAG6_11.png">
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <p class="zoom-text text-left">
                    <b>Ergonomics kitchen design</b> <br><br> The ergonomic design minimized movement of kitchen staff while they working in the kitchen. This is one of the most important factors that influence in the time savings for cooking the meals
                    and reduces the risks associated with accidents in the kitchen. Also, unwanted food spilling is minimized. <br>
                    <b><br>Energy efficiency</b> <br> Kitchen design directly affects the energy consumption. This is one of the most important factors that you need to consider when planning commercial restaurant kitchen. <br>
                    <b><br> The appropriate size of the commercial kitchen </b><br> The size of restaurant kitchen should be proportional to the size of the restaurant or better say the number of seats in the restaurant. Of course, different types of
                    restaurants have different needs, but there is a ratio of the size and capacity of the restaurant kitchen. The general rule is that for every seat in the restaurant is necessary to provide at least 5 square feet of kitchen space. <br>
                    <b><br>Equipment that meets standards of health and safety</b> <br> I might note that some chefs seek to have different gadgets, but every good chef will handle with tools that are available. But if you fill out their desires they
                    will be more satisfied. Give them a chance, let them explain the benefits of the use of certain kitchen’s tools and then decide about their necessity. <br>
                    <b><br> Good ventilation</b> <br> Working in the kitchen is not possible without a very good ventilation. The presence of steam and smoke in the restaurant kitchen is unacceptable, if not dangerous and unhealthy for your employees.
                    Also, you do not want that your guests “smells” like food after they leave your restaurant. This is one of the main reason why I use food delivery service of some restaurants. <br>
                    <b><br> Easy to maintain</b> <br> It is to maintain the entire kitchen in order and organized and depends on the material that kitchen is made of, the arrangement of elements and the way how cookware in the kitchen has been stored.
                    For example, the shelves are a very good choice because of the availability of dishes during food preparation and serving but a cabinet with doors is much easier for maintaining.
                </p>
            </div><br>
            <div class="col-md-12 col-sm-12 text-center">
                <div class="row text-center">
                    <div class="col-md-12">
                        <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                        <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                        <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid content-zoom-test" src="../../../content\units\unit6\C6\PAG6_07.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>