<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU6">8. Everyday language</h3>
            <img class="img-fluid" src="../../../content\units\unit6\C9\PAG9_14.png">
        </div>
        <div id="col2">
            <div class="content-zoom-9">
                <div class="row">
                    <div class="col-md-3 ">
                        <img class="img-fluid-1 text-center" src="../../../content/units/unit6/C9/images/PAG9_08.png">
                    </div>
                    <div class="col-md-9">
                        <h3 id="ColorU6">Kitchen slang, jargon, terms, and lingo you might hear working in a restaurant</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>À La Minute (adj.) - When something is made à la minute, it’s made fresh as opposed to being part of a large batch that was made earlier in the day. Ex. “We ran out of the Béarnaise but it’s the mayor’s favorite so we’re going
                            to need it à la minute.”<br><br> All Day (n.) - The total amount of food that needs to be made (combining all the incoming orders). Ex. “We need six cheeseburgers all day and one caesar salad.”<br><br> Chit (n.) - Another name
                            for the order ticket. Ex. “What does the chit say? Sub: turkey burger, no pickles. Got it!”<br><br> Dead Plate (n.) - Food that can’t be served. Possible reasons include being cold, overcooked, or forgotten by a server. Ex.
                            “Where’s Matt? That order’s about to become a dead plate!”
                            <br><br> Dying on the Pass (adv.) - Describes food that was left out on the pass for too long and is getting cold. Ex. “Seriously, where’s Matt!? That order is dying on the pass!”
                            <br><br> Deuce (n.) - A table that seats two people. Ex. “The couple that just sat down at the deuce in section 3 always only orders appetizers.”
                            <br><br> Dupe (n.) - An order ticket (same as chit). Comes from “duplicate”, from when printers print a carbon-copy of an order ticket. Ex. “Can you read me the dupe? I thought it said no mayo but I can’t remember.”
                            <br><br> Expo (n.) - The person who reads out orders as they come in, and puts the finishing touches on the food before it's taken from the kitchen out to guests. Ex. “Can you bring this salmon over to the expo? She’s got to
                            add the garnish.”
                            <br><br> Fire (v.) - To start cooking a dish. Ex. "The guests are finishing their first course, fire the steaks!"
                            <br><br> Flash it (v.) - When you quickly cook something if it’s undercooked. Ex. "Can you flash this steak? Our guest wants it more well done."
                            <br><br> Floor (n.) - The dining room. Ex. “Hey – finish your sandwich and get back out on the floor, we’re slammed!”
                            <br><br> GBD (adj.) - Golden Brown Delicious (the best way to eat fried foods). Ex. “That chicken special is extremely popular tonight and everybody’s ordering it GBD.”
                            <br><br> In the weeds (adj.) - Busier than one would care to be. Ex. “You forgot to ring in their apps? Can’t you see we’re in the weeds here?”
                            <br><br> Kill it (v.) - To cook something extremely well done. Ex. “Wow, we’ve got a request for “well, well, well done.” You know what to do to that steak. Absolutely kill it.”
                            <br><br> Low Boy (n.) - A fridge that’s below the counter, usually used to store prepped ingredients. Ex. “We keep all the dressings in the low boy over there.”
                            <br><br> Mise (n.) - Short for “mise en place,” and translates to everything in its place. Refers to prepped ingredients ready to go for a shift. Ex. "Is your mise ready? I need those shallots and peppers for the stew."
                            <br><br> On Deck (adj.) - What food is coming up next. Ex. “Bobby, what do we have on deck?”
                            <br><br> On the Fly (adj.) - Needing to be done quickly. Ex. “The guest sent this steak back, we need to flash it on the fly.”
                            <br><br> On the Line (adj.) - To be currently cooking on the line. Ex. “No Johnny, Jenny can’t come to the phone right now, she’s on the line.”
                            <br><br> OTS (adj) - On the side. Ex. “Three caesar salads, two of them dressing OTS and no croutons.”
                            <br><br> ass (n.) - The area where dishes are plated. Ex. "There should be two cheesecake slices on the pass — they’re ready to be served."
                            <br><br> The Rail/Board (n.) - The place where the tickets are held/hung. Ex. "I love this kitchen display system with the orders on it because chits used to fall off the board all the time."
                            <br><br> Run the Dish (v.) - To bring the plate out to the customer. Ex. “Hey Abby, can you run this dish to table 201?”
                            <br><br> Running the Pass (adj.) - Describes the person in charge of letting others know about the orders going in/out. Ex. “Who’s running the pass tonight? I need them to double check that chit with the waiter for me.”
                            <br><br> Shoe (n.) - Someone who’s a bad cook. Ex. “We’re all gonna get fired because that shoe doesn’t know how to cook a chicken.”
                            <br><br> SOS (adj.) - Sauce on the Side. Ex. “For that linguini, they want it SOS.”
                            <br><br> Stretch it (v.) - To make the remaining amount of something work. Ex. "We’re running out of broth but I can stretch it for this order."
                            <br><br> Walk-in (n) - large fridge or freezer. Ex. “ Hey, go cool off in the walk-in. It’s okay to get stressed but we need you levelheaded, we’re mid-way through the dinner rush.”
                            <br><br> Waxing a Table (v.) - To give someone VIP treatment Ex. "You need to wax that table because the owner’s family was just seated."
                            <br><br> # Top (n.) - A table with x number of people (four top, six top, etc.). Ex. “Host just sat two 6-tops and an 8-top.
                            <br><br> 86 (v.) - To be all out of an ingredient and to have to take an item off the menu for the rest of the service. Ex. “86 anything with scallops in it, and tell every server you see.”
                            <br><br> # Out (adj.) - How many minutes until the dish is ready to plate. Ex. "The mussels are two out, they’re almost done steaming."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>