<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU6">3. Listen to the chef Rosero talk about two other kitchen concepts and complete the blanks.</h3>
            <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U6.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U6.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U6.png';"
                onclick="ocultar();">
            <audio id="audioEng" src="../../../content/units/unit6/sounds/LISTENING 1.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit6/sounds/LISTENING 1.mp3"></audio>
            <br><img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png">
            <br><img id="img-try-2" src="">
        </div>
        <div id="col2">
            <div class="row">
                <div class="col-md-12">
                    <p>Hello dear audience. In today’s episode, I am going to talk about two kitchen concepts.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 content-zoom zoom-text">
                    <p><b>The first one is:</b></p>
                    <h3 id="ColorU6">1. The Open Restaurant Kitchen</h3>
                    <div>

                        <span>The Open Restaurant Kitchen is </span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer1"></span>
                            </div>
                        </div>


                        <span class="error-answer" id="correct_answer1"></span>
                    </div>

                    <div>

                        <span>among fine dining restaurants, the open kitchen</span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer2"></span>
                            </div>
                        </div>


                    </div>

                    <div>

                        <span>allows restaurant diners to </span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer3"></span>
                            </div>
                        </div>



                    </div>

                    <div>

                        <span>the chefs as they </span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer4"></span>
                            </div>
                        </div>
                        <span>their</span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question5">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer5"></span>
                            </div>
                        </div>

                    </div>

                    <div>

                        <span>The design often</span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu6"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer6"></span>
                            </div>
                        </div>
                        <span>a glass partition as well as serving stations facing the dining area.</span>



                    </div>
                </div>
                <div class="col-md-6 content-zoom zoom-text">
                    <p><b>And the second one is:</b></p>
                    <h3 id="ColorU6">2. Food truck kitchen Design</h3>

                    <div>

                        <span>You might not</span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question7">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu7"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer7"></span>
                            </div>
                        </div>
                        <span>of food truck design when you think of commercial kitchens, but the</span>
                    </div>


                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question8">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu8"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer8"></span>
                            </div>
                        </div>

                    </div>


                    <div>

                        <span>is, all of the above factors are</span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question9">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu9"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer9"></span>
                            </div>
                        </div>
                        <span>tenfold in a small 10' by 30' food truck. </span>

                    </div>

                    <div>

                        <span>a food truck kitchen designed around</span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question10">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu10"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer10"></span>
                            </div>
                        </div>
                        <span>, with stations for pizza preparing, pizza cooking, and pizza</span>

                    </div>

                    <div>

                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question11">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu11"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer11"></span>
                            </div>
                        </div>
                        <span>will help your food truck </span>

                    </div>

                    <div>

                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu12"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer12"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>