<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU6">6. Read the statements below and write in front what characteristic each statement belongs to.</h3>
            <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U6.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U6.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U6.png';"
                onclick="ocultar();">
            <div class="col-10 text-center">
                <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png">
            </div>
            <audio id="audioEng" src="../../../content/units/unit6/sounds/LISTENING 1.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit6/sounds/LISTENING 1.mp3"></audio>
        </div>
        <div id="col2">
            <div class="content-zoom-md zoom-text">

                <div>
                    <span>1.This helps minimize food spiling</span>
                    <div class="input-group col-sm-12 content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer1"></span>
                        </div>
                    </div>
                </div>

                <div>
                    <span>2. It prevents from smelling like food</span>
                    <div class="input-group col-sm-12 content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer2"></span>
                        </div>
                    </div>
                </div>

                <div>
                    <span>3. The availability of dishes during food preparation and serving</span>
                    <div class="input-group col-sm-12 content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer3"></span>
                        </div>
                    </div>
                </div>


                <div>
                    <span>4. Every good chef will use the available tools.</span>
                    <div class="input-group col-sm-12 content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer4"></span>
                        </div>
                    </div>
                </div>

                <div>
                    <span>5.  Placing the cookers in one location reduces energy costs for range hoods</span>
                    <div class="input-group col-sm-12 content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question5">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer5"></span>
                        </div>
                    </div>
                </div>

                <div>
                    <span>6.  A restaurant with 60 seats restaurant kitchen should take an area of 300 square feet</span>
                    <div class="input-group col-sm-12 content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu6"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer6"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit6\C7\PAG7_09.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>