<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">4. Choose true (T) or false (F) according to the text.</h3>
            <br><img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png">
            <img id="img-try-2" src=""><br>
        </div>
        <div id="col2">
            <table class="table table-borderless table-test">
                <thead>
                    <th></th>
                    <th>True</th>
                    <th>False</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left" rowspan="2">
                            1. To prepare the tenderloin you can use veal
                        </td>
                        <td>
                            <div class="btn-t3" id="11"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="10"></div>
                        </td>
                        <td>
                            <span id="chqu1"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer1"></span></td>
                        <td><input type="hidden" id="question1"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2">2. In the preparation of a Feuerzangenbowle, liquor is necessary.
                        </td>
                        <td>
                            <div class="btn-t3" id="21"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="20"></div>
                        </td>
                        <td>
                            <span id="chqu2"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer2"></span></td>
                        <td><input type="hidden" id="question2"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2">3. The Feuerzangenbowle is a Russian drink.
                        </td>
                        <td>
                            <div class="btn-t3" id="31"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="30"></div>
                        </td>
                        <td>
                            <span id="chqu3"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer3"></span></td>
                        <td><input type="hidden" id="question3"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2">4. People often drink Feuerzangenbowle to celebrate birthdays and marriages.
                        </td>
                        <td>
                            <div class="btn-t3" id="41"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="40"></div>
                        </td>
                        <td>
                            <span id="chqu4"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer4"></span></td>
                        <td><input type="hidden" id="question4"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2"> 5. Rosemary is part of the ingredients to prepare tenderloin.
                        </td>
                        <td>
                            <div class="btn-t3" id="51"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="50"></div>
                        </td>
                        <td>
                            <span id="chqu5"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer5"></span></td>
                        <td><input type="hidden" id="question5"></td>
                    </tr>

                    <tr>
                        <td class="text-left" rowspan="2"> 6. Pork tenderloin is presented in fillets.
                        </td>
                        <td>
                            <div class="btn-t3" id="61"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="60"></div>
                        </td>
                        <td>
                            <span id="chqu6"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer6"></span></td>
                        <td><input type="hidden" id="question6"></td>
                    </tr>

                    <tr>
                        <td class="text-left" rowspan="2"> 7. Bacon is used to prepare the pork tenderloin.
                        </td>
                        <td>
                            <div class="btn-t3" id="71"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="70"></div>
                        </td>
                        <td>
                            <span id="chqu7"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer7"></span></td>
                        <td><input type="hidden" id="question7"></td>
                    </tr>


                    <tr>
                        <td class="text-left" rowspan="2"> 8. Cachopo uses breadcrumbs.
                        </td>
                        <td>
                            <div class="btn-t3" id="81"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="80"></div>
                        </td>
                        <td>
                            <span id="chqu8"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer8"></span></td>
                        <td><input type="hidden" id="question8"></td>
                    </tr>


                    <tr>
                        <td class="text-left" rowspan="2"> 9. Chachopo is has its origins in India.
                        </td>
                        <td>
                            <div class="btn-t3" id="91"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="90"></div>
                        </td>
                        <td>
                            <span id="chqu9"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer9"></span></td>
                        <td><input type="hidden" id="question9"></td>
                    </tr>


                    <tr>
                        <td class="text-left" rowspan="2"> 10. Cachopo is only prepared with chicken
                        </td>
                        <td>
                            <div class="btn-t3" id="101"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="100"></div>
                        </td>
                        <td>
                            <span id="chqu10"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer10"></span></td>
                        <td><input type="hidden" id="question10"></td>
                    </tr>

                    <tr>
                        <td class="text-left" rowspan="2"> 11. A metal ladle is necessary to sip rum over the sugar loaf.
                        </td>
                        <td>
                            <div class="btn-t3" id="111"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="110"></div>
                        </td>
                        <td>
                            <span id="chqu11"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer11"></span></td>
                        <td><input type="hidden" id="question11"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>