<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">1. Give orders in writing to Juan by using the situacion give</h3>
            <img class="img-fluid" src="../../../content\units\unit4\C3\PAG3_16.png">

            <!--No aplica el de intentos, este no requiere validaciones-->
        </div>

        <div id="col2">

            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="../../../content/units/unit4/C3/images/3_07.png">
                </div>
            </div>

            <div class="row">

                <div class="col">

                    <div>
                        <span>1. I have a lot of dishes to serve</span>
                        <br><input class="form-control" type="text">
                    </div>

                    <div>
                        <span>2. I haven't put any salt to the sauce</span>
                        <br><input class="form-control" type="text">
                    </div>

                    <div>
                        <span>3. My dish isn't in the racks</span>
                        <br><input class="form-control" type="text">
                    </div>


                    <div>
                        <span>4. My phone is ringing</span>
                        <br><input class="form-control" type="text">
                    </div>

                    <div>
                        <span>5. I forgot my knife in the dish washer</span>
                        <br><input class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>