<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">5. Write a list of the ingredients and untensils to make a Feuerzangenbowle.</h3>
        </div>
        <div id="col2">

            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="../../../content/units/unit4/C7/PAG7_10.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td><b>1.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question1" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer1"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>2.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question2" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer2"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>3.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question3" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer3"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>4.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question4" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer4"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>5.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question5" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer5"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>6.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question6" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu6"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer6"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>7.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question7" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu7"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer7"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><b>8.</b></td>
                            <td>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control  form-control-sm" type="text" id="question8" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="chqu8"><img class="img-fluid" /></span>
                                        </div>
                                    </div>
                                    <span class="error-answer" id="correct_answer8"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit4\C7\PAG7_08.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>