<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">15. Now Listen to the rest of the recipe and complete the blanks.</h3>
            <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U4.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U4.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U4.png';"
                onclick="ocultar();">
            <audio id="audioEng" src="../../../content/units/unit4/sounds/listen 2.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit4/sounds/listen 2.mp3"></audio>
            <br><img class="btn-save img-fluid" data-id="10" src="../../../content/theme/botones/review_but_reposo.png">
            <br><img id="img-try-10" src=""><br>
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <div class="zoom-text text-left">
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-12 content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer1"></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer1"></span>

                    <div>
                        <span>celery, onion, and toasted bread pieces into the stuffing, and </span>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer2"></span>
                            </div>
                            <span>with salt and pepper. Loosely</span>
                        </div>
                    </div>


                    <div>
                        <div class="input-group col-sm-12 content-test">

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer3"></span>
                            </div>



                            <span>stuffing into the turkey body cavity and neck cavity. </span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer4"></span>
                            </div>
                            <span>the exterior of the turkey with vegetable oil.</span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>Loosely</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question5">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer5"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>turkey with aluminum foil, and  </span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu6"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer6"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>3 1/2 to 4 hours in the preheated oven, until the thickest part of the thigh</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question7">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu7"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer7"></span>
                            </div>
                            <span>85 degrees C and the interior of the stuffing reaches 70 degrees C. Remove foil during the last half hour of cooking to brown the bird.</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid content-zoom-test" src="../../../content\units\unit4\C17\pag17_08.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>