<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">9. Grab the cooking technique to the appropiate definition.</h3>
            <div id="dvSource">
                <table>
                    <tbody>
                        <tr>
                            <td><img class="img-fluid" id="answer1" src="../../../content/units/unit4/C11/images/answer1.png"></td>
                            <td><img class="img-fluid" id="answer2" src="../../../content/units/unit4/C11/images/answer2.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer3" src="../../../content/units/unit4/C11/images/answer3.png"></td>
                            <td><img class="img-fluid" id="answer4" src="../../../content/units/unit4/C11/images/answer4.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer5" src="../../../content/units/unit4/C11/images/answer5.png"></td>
                            <td><img class="img-fluid" id="answer6" src="../../../content/units/unit4/C11/images/answer6.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer7" src="../../../content/units/unit4/C11/images/answer7.png"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-6" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="6" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
        </div>
        <div id="col2">
            <div class="content-zoom-ep">

                <div class="zoom-text text-left">
                    <!--<input type="text" id="question1" />-->
                    <div>
                        <div class="input-group col-sm-11 content-test">
                            <td><img class="img-fluid" id="content1" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question1"><span>It is to cut the cooked meat into appropriate pieces for serving. It is used for big chunks of meat, or for whole parts or birds, such as a whole leg, chicken or turkey</span>
                        </div>
                        <div class="col-sm-11" style="padding-top: 0; text-align: center;">
                            <span id="chqu1"><img class="img-fluid" /></span>
                        </div>
                        <span class="error-answer" id="correct_answer1"></span>
                    </div><br>
                    <div>
                        <!--<input type="text" id="question1" />-->
                        <div class="input-group col-sm-11 content-test">
                            <td><img class="img-fluid" id="content2" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question2"><span>It is to cut a piece of meat without any bones in a flat, wide shape.</span>
                        </div>
                        <div class="col-sm-11" style="padding-top: 0; text-align: center;">
                            <span id="chqu2"><img class="img-fluid" /></span><br>
                        </div>
                        <span class="error-answer" id="correct_answer2"></span>
                    </div><br>
                    <div>
                        <!--<input type="text" id="question1" />-->
                        <div class="input-group col-sm-11 content-test">
                            <td><img class="img-fluid" id="content3" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question3"><span>It is to add alcohol in the pan with the dish and fire it. It is performed in front of the client, the main advantage of this method is the spectacle it creates</span>
                        </div>
                        <div class="col-sm-11" style="padding-top: 0; text-align: center;">
                            <span id="chqu3"><img class="img-fluid" /></span><br>
                        </div>
                        <span class="error-answer" id="correct_answer3"></span>
                    </div><br>
                    <div>
                        <!--<input type="text" id="question1" />-->
                        <div class="input-group col-sm-11 content-test">
                            <td><img class="img-fluid" id="content4" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question4"><span>Using a thin knife, spike the meat and in the formed hole you can put different products, such as bacon, garlic, celery, carrot, onion, etc. It adds up to the flavor, whereas the bacon protects the meat from drying out.</span>
                        </div>
                        <div class="col-sm-11" style="padding-top: 0; text-align: center;">
                            <span id="chqu4"><img class="img-fluid" /></span><br>
                        </div>
                        <span class="error-answer" id="correct_answer4"></span>
                    </div><br>
                    <div>
                        <!--<input type="text" id="question1" />-->
                        <div class="input-group col-sm-11 content-test">
                            <td><img class="img-fluid" id="content5" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question5"><span>It is to use a cream-like product under pressure through a hose with a certain shape (spritz), during which the leaking cream acquires the shape of the hose. It is used to decorate salty and sweet dishes, cakes and pies.</span>
                        </div>
                        <div class="col-sm-11" style="padding-top: 0; text-align: center;">
                            <span id="chqu5"><img class="img-fluid" /></span><br>
                        </div>
                        <span class="error-answer" id="correct_answer5"></span>
                    </div><br>
                    <div>
                        <!--<input type="text" id="question1" />-->
                        <div class="input-group col-sm-11 content-test">
                            <td><img class="img-fluid" id="content6" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question6"><span>This refers to the browning of food – usually meat or fish – in a pan over high heat. It often is used at the beginning of the recipe, and the browning caramelizes the natural sugars in the food allowing another layer of flavor to emerge, and also can add a pleasing texture to the outside of the food.</span>
                        </div>
                        <div class="col-sm-11" style="padding-top: 0; text-align: center;">
                            <span id="chqu6"><img class="img-fluid" /></span><br>
                        </div>
                        <span class="error-answer" id="correct_answer6"></span>
                    </div><br>
                    <div>
                        <!--<input type="text" id="question1" />-->
                        <div class="input-group col-sm-11 content-test">
                            <td><img class="img-fluid" id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question7"><span>
                        This is used with particular cuts of meat that benefit from long, slow cooking to become tender. In this technique, the food is often browned first, and then it is finished in a low oven or over a low flame with a moderate amount of liquid and usually a lid covers the pot until the liquid condenses.
                        Sometimes aromatic vegetables like carrots, onions, and other seasonings are used in this cooking method along with the liquid. Braising liquids range from broth to wine to tomatoes.
                    </span>
                        </div>
                        <div class="col-sm-11" style="padding-top: 0; text-align: center;">
                            <span id="chqu7"><img class="img-fluid" /></span><br>
                        </div>
                        <span class="error-answer" id="correct_answer7"></span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit4\C11\pag11_09.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>