<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU4">3. Look quickly at the recipes and match each one with the picture</h3>
            <br><img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png">
            <br><img id="img-try-1" src="">

        </div>
        <div id="col2">
            <div class="content-zoom-ep">

                <div class="zoom-text text-left">
                    <b>RECIPE 1:</b> All over the world there are different types of dishes for everyone’s taste and are prepared in different ways. Let’s go to Europe where we can find the Feuerzangenbowle that is a traditional German alcoholic drink,
                    often part of a Christmas or New Year's tradition. <br>This is how you prepare it: <br>



                    <br>- Heat the wine in the cooking pot, add the spices and orange slices. About 60°C is enough, or you will lose all of the alcohol. You can just test it by trying something with a spoon. It should be warm, but not very hot.<br> -
                    Place the pot on a table.<br> - Soak the sugar loaf with rum and place it over the pot<br> - Call together all your guests, give a short speech and light the sugar loaf.<br> - Use the metal ladle - keep sipping rum over the sugar loaf
                    regularly to keep it burning.<br> - Stir the Feuerzangenbowle before serving<br> - But if you appreciate meat cuts, the larding pork tenderloin is a great option. You will need: Pork tenderloin - slices of bacon - rosemary - garlic
                    clove - Extra virgin olive oil - Salt and pepper<br>
                </div>
                <br>

                <div class="zoom-text text-left">
                    <b>RECIPE 2:</b> Preparation: <br>

                    <br>- Remove residual fat from the tenderloin and make medallions about 3 cm high. Rub the meat with a garlic clove and wrap the meat tightly with the bacon strips. Drizzle a little oil onto the medallions.</li>
                    <br>- Heat the grill. Cook both sides of the pork medallions and the outer layer for 3 minutes each.</li>
                    <br>- Remove the meat from the grill and add 3 tablespoons of water onto the grill in order to create the sauce that will be served on the medallions.</li>
                </div>

                <div class="zoom-text text-left">
                    <br><b>RECIPE 3:</b> On the other hand, there is Cachopo, a Spanish dish which is characteristic of Asturian cuisine. It consists of two large veal fillets and includes ham and cheese. The dish is eaten fried and hot after being breaded
                    in eggs and breadcrumbs, and it is usually served garnished with potatoes, peppers, or mushrooms <br> There are multiple variables of this dish including fish cachopos, chicken or pork cachopos stuffed with seafood, meat, mushrooms,
                    peppers, cheese, asparagus, etc.
                </div>

                </p>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <div>
                <img class="img-fluid-unit4" src="../../../content/units/unit4/C5/PAG5_08.png">

                <div class="input-group col-sm-12 content-test">

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" id="question1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer1"></span>
                    </div>

                </div>

                <div>
                    <img class="img-fluid-unit4" src="../../../content/units/unit4/C5/PAG5_11.png">
                    <div class="input-group col-sm-12 content-test">

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer2"></span>
                        </div>

                    </div>
                </div>
                <div>
                    <img class="img-fluid-unit4" src="../../../content/units/unit4/C5/PAG5_16.png">
                    <div class="input-group col-sm-12 content-test">

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="question3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer3"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
    <script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
    <script type="text/javascript" src="../../../js/audios.js"></script>
    <script type="text/javascript" src="../../../js/iframe.js"></script>