<div class="container">
    <div class="row">
        <div id="col1">
            <img class="img-fluid" src="../../../content\units\unit4\C15\PAG15_11.png">
            <h3 id="ColorU4">13. Reorder the recipe for chicken popcorn.</h3>
            <img class="btn-save img-fluid" data-id="8" src="../../../content/theme/botones/review_but_reposo.png">
            <img id="img-try-8" src=""><br>
        </div>
        <div id="col2">
            <div id="dvSource">
                <ol id="answers">
                    <li class="ui-state-default" id="answer1">
                        <img id="answer1" src="../../../content/units/unit4/C15/images/15_07.png">
                        <span id="chqu1"><img class="img-fluid" /></span>
                        <div class="row">
                            <div>
                                <span class="error-answer" id="correct_answer1"></span>
                                <input type="hidden" id="question1">
                            </div>
                        </div>
                    </li>
                    <li class="ui-state-default" id="answer2">
                        <img id="answer2" src="../../../content/units/unit4/C15/images/15_09.png">
                        <span id="chqu2"><img class="img-fluid" /></span>
                        <div class="row">
                            <div>
                                <span class="error-answer" id="correct_answer2"></span>
                                <input type="hidden" id="question2">
                            </div>
                        </div>
                    </li>
                    <li class="ui-state-default" id="answer3">
                        <img id="answer3" src="../../../content/units/unit4/C15/images/15_10.png">
                        <span id="chqu3"><img class="img-fluid" /></span>
                        <div class="row">
                            <div>
                                <span class="error-answer" id="correct_answer3"></span>
                                <input type="hidden" id="question3">
                            </div>
                        </div>
                    </li>
                    <li class="ui-state-default" id="answer4">
                        <img id="answer4" src="../../../content/units/unit4/C15/images/15_11.png">
                        <span id="chqu4"><img class="img-fluid" /></span>
                        <div class="row">
                            <div>
                                <span class="error-answer" id="correct_answer4"></span>
                                <input type="hidden" id="question4">
                            </div>
                        </div>
                    </li>
                    <li class="ui-state-default" id="answer5">
                        <img id="answer5" src="../../../content/units/unit4/C15/images/15_12.png">
                        <span id="chqu5"><img class="img-fluid" /></span>
                        <div class="row">
                            <div>
                                <span class="error-answer" id="correct_answer5"></span>
                                <input type="hidden" id="question5">
                            </div>
                        </div>
                    </li>
                    <li class="ui-state-default" id="answer6">
                        <img id="answer6" src="../../../content/units/unit4/C15/images/15_13.png">
                        <span id="chqu6"><img class="img-fluid" /></span>
                        <div class="row">
                            <div>
                                <span class="error-answer" id="correct_answer6"></span>
                                <input type="hidden" id="question6">
                            </div>
                        </div>
                    </li>
                    <li class="ui-state-default" id="answer7">
                        <img id="answer7" src="../../../content/units/unit4/C15/images/15_14.png">
                        <span id="chqu7"><img class="img-fluid" /></span>
                        <div class="row">
                            <div>
                                <span class="error-answer" id="correct_answer7"></span>
                                <input type="hidden" id="question7">
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>