<div class="container">
    <div class="row">
        <div id="col1">
            <img class="img-fluid" src="../../../content\units\unit5\C1\PAG1_07.png">
        </div>
        <div id="col2">
            <h4 id="ColorU5">Introduction</h4>
            <p>This module is designed to give you some basis about the first introduction of the chefs’ uniforms. The hierarchy in the kitchen and what rules they have to follow for preparing or serving food, personal hygiene habits, the different parts
                of a chef’s attire. Finally, you will find the way ho to express your opinion.</p>
            <div class="row">
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U5.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U5.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U5.png';"
                        onclick="ocultar();">
                </div>
                <div class="col-md-4">
                    <input type="image" name="Español" onclick="playAudioSpa()" src="../../../content/theme/botones/Btn_Espanol_U5.png" alt="Español" onclick="this.src='../../../content/theme/botones/Btn_Espanol_U5.png';" onmouseout="this.src='../../../content/theme/botones/Btn_Espanol_U5.png';">
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit5/sounds/INTRODUCCION UNIT 5.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit5/sounds/INTRODUCCION UNIT 5 ESPANOL.mp3"></audio>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>