<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">8. Use the language tips to express your opinion and write sentences about the statements.</h3>
        </div>
        <div id="col2">
            <div class="row">

                <div class="col">
                    <img class="img-fluid" src="../../../content\units\unit5\C10\images\PAG10_08.png">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>1. Cooking turkey is easy</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer1"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>2. Wearing and apron is important.</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer2"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>3. Long fingernails are comfortable in the kitchen.</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer3"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>4. Kitchen rules are unnecessary.</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer4"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>5. The executive chef can change where food is stored.</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question5">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer5"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="input-group col-sm-12 content-test">
                            <span>6. I can prepare food with no hair restraint</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" id="question6">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu6"><img class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer6"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>