<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">4. Read the text to check your answers?</h3>
            <img class="img-fluid-1" src="../../../content\units\unit5\C5\PAG5_13.png">
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <p class="zoom-text text-left">While you want your employees to feel comfortable while they're at work, it's crucial for their attire and appearance to comply with local regulatory requirements. By complying in the following areas, kitchen staff can minimize the risk
                    of physical contaminants, complaints, or bad reviews.
                    <ol class="zoom-text text-left">
                        <li><b>Fingernails:</b><br> Employees working with exposed food must not wear fingernail polish. Nails must be trimmed, filed, and maintained so that edges are not rough. Artificial nails are not permitted.
                        </li>

                        <li><b>Gloves:</b><br> Disposable gloves should be used when handling ready-to-eat food and should be provided in multiple sizes. Employees must wash their hands before putting on gloves and they must be changed after becoming dirty
                            or torn. Any open sores, cuts, abrasions, burns, or bandages must be covered with gloves.<br>
                        </li>
                        <li>
                            <b>Hair restraints:</b><br> Hostesses, wait staff, or employees serving only beverages or packaged foods are not required to wear hair restraints. Food employees with a high risk of contaminating exposed food must wear a hat
                            or hair covering, a beard restraint (if applicable), and clothing that covers body hair.
                        </li>
                        <li><b>Jewelry: </b><br> Rings (plain band without stones), bracelets (including medical bracelets), watches, and other jewelry must be removed from hands and arms to limit the risk of physical contaminates.
                        </li>
                        <li><b>Outer clothing: </b><br> Employees must wear clean clothing and change out of street clothing into a work uniform. Storage facilities or lockers are required for personal belongings, and dirty aprons or chef coats must be stored
                            in laundry bags and away from prep areas.
                        </li>
                        <li><b>Personal hygiene:</b><br> To prevent pathogens from skin and hair employees must shower or bathe regularly. Hands must be washed before starting to work. Restaurant uniforms must be cleaned daily.
                        </li>
                    </ol>
                </p>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid content-zoom-test" src="../../../content\units\unit5\C5\PAG5_08.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>