<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">9. Read the text</h3>
            <img class="img-fluid content-zoom-test" src="../../../content/units/unit5/C11/PAG11_13.png">
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <p class="zoom-text text-left">
                    The traditional chef’s uniform includes many parts. One of the most famous is the toque, the chef's hat which should be short, clean and cover the hair. Although, these days most chefs like covering the hair with a colored material called bandana. Another
                    part of the uniform is the triangle. Its material is cotton, is around the neck like a scarf and absorbs sweat. Something really useful to give protection to the chef is the jacket, it is made of good quality white cotton, resists
                    heat and washes easily. These jackets are double-breasted with plastic buttons, these don’t melt or drop into food. You can remove the jacket easily or reverse it if it gets dirty. Also, the uniform has wide roll-up sleeves that protect
                    your arms from any kitchen danger. Besides, the chefs also wears an apron around the waist to protect them from top to the ankles; attached to the apron you have a torchon that is used to lift and move hot objects. Chefs wear trousers
                    but some women prefer to wear skirts although they have to be fire-resistant. Too, chefs wear very comfortable and lightweight shoes with non-slip soles as they stand of feet the whole day. As a part of their business code, chefs put
                    on a different uniform daily before starting to work.
                </p>
            </div><br>
            <div class="col-md-12 col-sm-12 text-center">
                <div class="row text-center">
                    <div class="col-md-12">
                        <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                        <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                        <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="col3" class="col-md-4">
            <img class="img-fluid content-zoom-test" src="../../../content/units/unit5/C11/PAG11_07.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>