<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">2. Read the text to check your answers.</h3>
            <img class="img-fluid" src="../../../content/units/unit5/C3/pag3_16.png" alt="">
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <p class="zoom-text text-left"> <b> How far back does the chef’s uniform date?</b><br> The outfit as we know it began in 1822, when French artist Marie-Antoine Careme released a sketch called “Le Maitre d’Hotel Francais.” In the portrait, two chefs are depicted as wearing
                    the toque, trousers, a double-breasted jacket and an apron. However, this setup wouldn’t become en vogue in the culinary world until 1878. Though modern chefs wear a less formal version, many of these same pieces are still found in
                    their attire. <br>
                    <b>Why the double-breasted jacket?</b><br> On the one hand, this special piece of attire is synonymous with classic chef’s attire and has a certain sense of regality to it. Yet, as Culinary Lore explained, the standard chef’s jacket
                    has more subtle, real-world applications. The two layers of heavy-duty cloth protect chefs from steam, splashing liquids and other potential kitchen hazards. That’s also the reason that most jacket buttons are made of knotted-cloth
                    and not metal or plastic. This prevents any button pieces from breaking off and landing in a stew or atop some tasty rib eye steak. <br>
                    <b>Why are chef’s jackets white?</b><br> Much like the jacket itself, the color white is meant to give patrons the sense that the chef is occupying a position of power or influence. White is also a powerful symbol of both cleanliness
                    and perfection. However, the choice of white has two great cooking advantages that chefs rely on. The hue is great at deflecting heat, which offers the chef added protection from stoves, open fires, etc. in the kitchen. Many chefs
                    also believe that white is the best color for blocking the appearance of stains. A chef also wears checkered or houndstooth pants in the hopes of camouflaging unfortunate food stains.
                </p>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid content-zoom-test" src="../../../content/units/unit5/C3/pag3_08.png" alt="">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>