<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">6. Listen to the chef Christine talk about some reasons for good personal hygiene.</h3>
            <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U5.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U5.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U5.png';"
                onclick="ocultar();">
            <audio id="audioEng" src="../../../content/units/unit5/sounds/LETS LISTEN 1.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit5/sounds/LETS LISTEN 1.mp3"></audio>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-2" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
        </div>
        <div id="col2">
            <p>Good personal hygiene can prevent food poisoning. Ensuring that food is safe for human consumption is likely the most critical part of the food preparation process. <br>
                <b>That’s why most kitchen staff must follow these codes:</b></p>
            <div id="dvSource">
                <table>
                    <tbody>
                        <tr>
                            <td><img id="answer1" src="../../../content/units/unit5/C7/images/7_07.png"></td>
                            <td><img id="answer2" src="../../../content/units/unit5/C7/images/7_08.png"></td>
                            <td><img id="answer3" src="../../../content/units/unit5/C7/images/7_09.png"></td>

                        </tr>
                        <tr>
                            <td><img id="answer4" src="../../../content/units/unit5/C7/images/7_11.png"></td>
                            <td><img id="answer5" src="../../../content/units/unit5/C7/images/7_12.png"></td>
                            <td><img id="answer6" src="../../../content/units/unit5/C7/images/7_13.png"></td>
                        </tr>
                        <tr>
                            <td><img id="answer7" src="../../../content/units/unit5/C7/images/7_14.png"></td>
                            <td><img id="answer8" src="../../../content/units/unit5/C7/images/7_15.png"></td>
                            <td><img id="answer9" src="../../../content/units/unit5/C7/images/7_16.png"></td>
                        </tr>
                        <tr>
                            <td><img id="answer10" src="../../../content/units/unit5/C7/images/7_17.png"></td>
                            <td><img id="answer11" src="../../../content/units/unit5/C7/images/7_18.png"></td>
                            <td><img id="answer12" src="../../../content/units/unit5/C7/images/7_19.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer13" src="../../../content/units/unit5/C7/images/pag7_31.png"></td>
                            <td><img class="img-fluid" id="answer14" src="../../../content/units/unit5/C7/images/pag7_32.png"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="col3">
            <div class="content-zoom-md">
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <img id="content1" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu1"><img class="img-fluid" /></span>
                        <input type="hidden" id="question1"><span>and</span>
                    </div>
                    <span class="error-answer" id="correct_answer1"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <img id="content2" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu2"><img class="img-fluid" /></span>
                        <input type="hidden" id="question2"><span>your hands thoroughly before handling food, and frequently during works.</span>
                    </div>
                    <span class="error-answer" id="correct_answer2"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <img id="content3" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu3"><img class="img-fluid" /></span>
                        <input type="hidden" id="question3"><span>your hands with a clean towel, disposable paper towel or under an air dryer.</span>
                    </div>
                    <span class="error-answer" id="correct_answer3"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <span>Never</span>
                        <img id="content4" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu4"><img class="img-fluid" /></span>
                        <input type="hidden" id="question4"><span>,</span>
                    </div>
                    <span class="error-answer" id="correct_answer4"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <img id="content5" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu5"><img class="img-fluid" /></span>
                        <input type="hidden" id="question5"><span>,</span>
                    </div>
                    <span class="error-answer" id="correct_answer5"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <span>gum, </span>
                        <img id="content6" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu6"><img class="img-fluid" /></span>
                        <input type="hidden" id="question6"><span>,</span>
                    </div>
                    <span class="error-answer" id="correct_answer6"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <img id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu7"><img class="img-fluid" /></span>
                        <input type="hidden" id="question7"><span>a baby’s nappy or </span>
                    </div>
                    <span class="error-answer" id="correct_answer7"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <img id="content8" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu8"><img class="img-fluid" /></span>
                        <input type="hidden" id="question8"><span>in a food handling or food storage area. </span>
                    </div>
                    <span class="error-answer" id="correct_answer8"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <span>never</span>
                        <img id="content9" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu9"><img class="img-fluid" /></span>
                        <input type="hidden" id="question9"><span>or</span>
                    </div>
                    <span class="error-answer" id="correct_answer9"></span>
                </div>
                <div>
                    <!--<input type="text" id="question1" />-->
                    <div class="input-group col-sm-8 content-test">
                        <img id="content10" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu10"><img class="img-fluid" /></span>
                        <input type="hidden" id="question10"><span>over food, or where food, or where food is being prepared or stored</span>
                    </div>
                    <span class="error-answer" id="correct_answer10"></span>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <img id="content11" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu11"><img class="img-fluid" /></span>
                        <input type="hidden" id="question11">
                    </div>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <span>clean protective clothing, such as an apron.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <img id="content12" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu12"><img class="img-fluid" /></span>
                        <input type="hidden" id="question12"><span>your spare clothes and other personal items (including mobile phones) away from where food is stored and prepared.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <span>And finally</span>
                        <img id="content13" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu13"><img class="img-fluid" /></span>
                        <input type="hidden" id="question13"><span>back or</span>
                    </div>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <img id="content14" src="../../../content/units/unit1/img/pag16/images_answer.png">
                        <span id="chqu14"><img class="img-fluid" /></span>
                        <input type="hidden" id="question14"><span>long hair</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>