<div class="container">

    <div class="row">
        <div id="col1">
            <h3>2. Put the words in order to make sentences.</h3>
            <img class="img-fluid" id="img-try-1" src=""><br>
            <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png">
            <br><img id="img-try-1" src=""><br>
            <img class="img-fluid" src="../../../content/units/unit1/img/pag4/img_p4rrhh.png">
        </div>
        <div id="col2">
            <div id="dvSource">
                <table class="table table-borderless">

                    <tr id="answers1">
                        <td class="ui-state-default"><img id="answer1" src="../../../content/units/unit1/img/pag6/Screenshot_1.png"></td>
                        <td class="ui-state-default"><img id="answer2" src="../../../content/units/unit1/img/pag6/Screenshot_2.png"></td>
                        <td class="ui-state-default"><img id="answer3" src="../../../content/units/unit1/img/pag6/Screenshot_3.png"></td>
                        <td class="ui-state-default"><img id="answer4" src="../../../content/units/unit1/img/pag6/Screenshot_4.png"></td>
                        <td class="ui-state-default"><img id="answer5" src="../../../content/units/unit1/img/pag6/Screenshot_5.png"></td>
                    </tr>
                    <tr id="answers2">
                        <td class="ui-state-default"><img id="answer6" src="../../../content/units/unit1/img/pag6/Screenshot_6.png"></td>
                        <td class="ui-state-default"><img id="answer7" src="../../../content/units/unit1/img/pag6/Screenshot_7.png"></td>
                        <td class="ui-state-default"><img id="answer8" src="../../../content/units/unit1/img/pag6/Screenshot_8.png"></td>
                        <td class="ui-state-default"><img id="answer9" src="../../../content/units/unit1/img/pag6/Screenshot_9.png"></td>
                        <td class="ui-state-default"><img id="answer10" src="../../../content/units/unit1/img/pag6/Screenshot_10.png"></td>
                    </tr>
                    <tr id="answers3">
                        <td class="ui-state-default"><img id="answer11" src="../../../content/units/unit1/img/pag6/Screenshot_11.png"></td>
                        <td class="ui-state-default"><img id="answer12" src="../../../content/units/unit1/img/pag6/Screenshot_12.png"></td>
                        <td class="ui-state-default"><img id="answer13" src="../../../content/units/unit1/img/pag6/Screenshot_13.png"></td>
                        <td class="ui-state-default"><img id="answer14" src="../../../content/units/unit1/img/pag6/Screenshot_14.png"></td>
                        <td class="ui-state-default"><img id="answer15" src="../../../content/units/unit1/img/pag6/Screenshot_15.png"></td>
                    </tr>
                    <tr id="answers4">
                        <td class="ui-state-default"><img id="answer16" src="../../../content/units/unit1/img/pag6/Screenshot_16.png"></td>
                        <td class="ui-state-default"><img id="answer17" src="../../../content/units/unit1/img/pag6/Screenshot_17.png"></td>
                        <td class="ui-state-default"><img id="answer18" src="../../../content/units/unit1/img/pag6/Screenshot_18.png"></td>
                        <td class="ui-state-default"><img id="answer19" src="../../../content/units/unit1/img/pag6/Screenshot_19.png"></td>
                        <td class="ui-state-default"><img id="answer20" src="../../../content/units/unit1/img/pag6/Screenshot_20.png"></td>
                    </tr>
                    <tr id="answers5">
                        <td class="ui-state-default"><img id="answer21" src="../../../content/units/unit1/img/pag6/Screenshot_21.png"></td>
                        <td class="ui-state-default"><img id="answer22" src="../../../content/units/unit1/img/pag6/Screenshot_22.png"></td>
                        <td class="ui-state-default"><img id="answer23" src="../../../content/units/unit1/img/pag6/Screenshot_23.png"></td>
                        <td class="ui-state-default"><img id="answer24" src="../../../content/units/unit1/img/pag6/Screenshot_24.png"></td>
                        <td class="ui-state-default"><img id="answer25" src="../../../content/units/unit1/img/pag6/Screenshot_25.png"></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>