<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3>3. Discuss these three questions with someone else.</h3>
            </div>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit1\img\Pag7\PAG7_14.png"></div>
                <div class="col-md-4">
                    <input type="image" onclick="playAudioEng()" name="English" src="../../../content/theme/botones/audio_but_reposo-2.png" alt="English" onclick="this.src='../../../content/theme/botones/audio_but_press-1.png';" onmouseout="this.src='../../../content/theme/botones/audio_but_reposo-2.png';"
                        onclick="ocultar();">
                    <input type="image" onclick="playAudioSpa()" name="Español" src="../../../content/theme/botones/audio_but_press-3.png" alt="Español" onclick="this.src='../../../content/theme/botones/audio_but_reposo-4.png';" onmouseout="this.src='../../../content/theme/botones/audio_but_press-3.png';">
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit1/sounds/audios/lets talk.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit1/sounds/audios/lets talk 2 espanol.mp3"></audio>
        </div>
        <div id="col2">
            <img class="img-fluid" src="../../../content\units\unit1\img\Pag7\PAG7_06.png">
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit1\img\Pag7\PAG7_11.png">
            <ol>
                <li>What is HR? </li>
                <li><b> Who makes part of this?</b></li>
                <li>What are HR tasks?</li>
            </ol>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>