<div class="container">  
 
<div class="row">
    <div id="col1">
        <div>
            <h3>4. Read about what HR is and check your answers.</h3>
        </div>
            <div><img class="img-fluid" src="../../../content\units\unit1\img\pag8\PAG8_12.png"></div>
    </div>
    <div id="col2">
        
        <div class="content-zoom">
            <p class="zoom-text text-justify">
            Human resources is the area of a company and a term for both the people who work for a company or organization and the department responsible for managing all matters related to employees like recruiting and staffing, compensation and benefits, training and learning, labor and employee relations, and organization development, who collectively represent one of the most valuable resources in any businesses or organization.
            </p>
        </div>
        <br>
            <div class="col-md-12 col-sm-12 text-center">
                <div class="row text-center">
                    <div class="col-md-12">
                        <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                        <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                        <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                    </div>
                </div>
            </div>
        
    </div>
    <div id="col3">
        <img class="img-fluid" src="../../../content\units\unit1\img\pag8\PAG8_08.png">
    </div>
</div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>