<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3>9. Let’s organize the next paragraph corresponding to another skill HR professionals should have.</h3>
            </div>
            <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png">
            <br><img id="img-try-5" src=""><br>
        </div>
        <div id="col2">
            <ul id="answers" style="columns:2; list-style-type:none">
                <h3>1.</h3><li><img class="img-fluid" id="answer1" src="../../../content/units/unit1/img/pag13/q1.PNG" /></li>
                <h3>2.</h3><li><img class="img-fluid" id="answer3" src="../../../content/units/unit1/img/pag13/q3.PNG" /></li>
                <h3>3.</h3><li><img class="img-fluid" id="answer2" src="../../../content/units/unit1/img/pag13/q2.PNG" /></li>
                <h3>4.</h3><li><img class="img-fluid" id="answer4" src="../../../content/units/unit1/img/pag13/q4.PNG" /></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>