<div class="container">
        <div class="row">
                <div id="col1">
                        <h3 id="ColorU3">10. Read the text.</h3>
                        <img
                                class="img-fluid"
                                src="../../../content\units\unit3\Pag11\PAG11_12.png"
                                alt=""
                        />
                        <div></div>
                </div>
                <div id="col2">
                        <div class="content-zoom-1">
                                <p class="zoom-text text-left">
                                        <b>Advantages of external recruitment</b
                                        ><br />
                                        Since you are recruiting external
                                        personnel you must be able to explain
                                        the advantages of the company to them.
                                        Use the benefits your company offers
                                        promote the position call. The following
                                        are positive outcomes of external
                                        recruiting. <br>
                                        <b>Gain new perspectives</b><br />
                                        External candidates have unique
                                        backgrounds that offer different methods
                                        and ideas to clients. The worker might
                                        know a more efficient way to complete
                                        tasks. Clients benefit from a fresh view
                                        of their operations and opportunities to
                                        improve. <br>
                                        <b>Larger candidate pool</b>
                                        External recruitment gives you a larger
                                        candidate pool than sourcing within a
                                        business. By increasing the number of
                                        potential hires, businesses get more
                                        options to fill open positions.
                                        <b>Increase branding</b><br />
                                        External recruiting helps establish an
                                        employer brand that attracts
                                        high-quality candidates. By advertising
                                        the job through multiple channels,
                                        people recognize your brand and company
                                        culture. <br>
                                </p>
                        </div>
                </div>
                <div id="col3">
                        <img
                                class="img-fluid"
                                src="../../../content\units\unit3\Pag11\PAG11_07.png"
                        />
                </div>
        </div>
</div>
<script
        type="text/javascript"
        src="../../../js/lib/jquery-3.6.0.min.js"
></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script
        type="text/javascript"
        src="../../../js/lib/sweetalert2.min.js"
></script>
<script
        type="text/javascript"
        src="../../../js/lib/html2canvas.min.js"
></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>
