<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU3">2. Read the text and check your answers</h3>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit3\Pag3\PAG3_13.png"></div>
                
            </div>
        </div>
        <div id="col2">
            <div class="content-zoom-1 pag6">
                <p class="zoom-text text-left">
                    <strong>Recruitment</strong> is the process of actively finding and hiring candidates for a specific position or job. This is always a difficult process regardless of size, annual income, or number of employees because if you are looking to hire someone new, you have to go through an expensive and time-consuming process. <br>
                    Fortunately, there’s a guideline that suggests hiring from within your business is one of the most effective strategies available.<br>
                    
                    <strong> Internal recruitment</strong><br>
                    
                    It is important not to forget the internal talent as you can provide opportunities for development and career progression becoming an important factor for employee retention and motivation. Your business looks at your current employees to find a suitable candidate for a role you have where you can actively promote the role among your workforce, encouraging applications.<br>
                    After that, through internal staffing you can shortlist candidates and hold interviews. It can make your recruitment process easier by finding the suitable talent from within your business to reduce costs and save you money.<br>
                    
                    <strong>Types of internal recruitment</strong><br>
                    
                    There are various ways you can promote a role to your existing workforce. Some of the most popular ways include:<br>
                    1. Promotions. <br>
                    2. Transfers. <br>
                    3. Advertisements. <br>
                    4. Freelance to full-time employee. <br>
                    5. Enlisting retired former employees to freelance or work part-time. <br>
                    6. Having an employee referral scheme.<br>
                    </p>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit3\Pag3\PAG3_07.png" alt="">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>