<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU3">8.Listen again and complete the sentences with phrases from the box.</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-2" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
            <div><audio src="../../../content/units/unit3/sounds/LISTEN 1.mp3" preload="auto" controls></audio></div>
        </div>
        <div id="col2">
            <div id="dvSource">
                <table class="table table-borderless">

                    <tr>
                        <td><img id="answer1" src="../../../content/units/unit3/pag9/q1.PNG"></td>
                        <td><img id="answer2" src="../../../content/units/unit3/pag9/q2.PNG"></td>
                        <td><img id="answer3" src="../../../content/units/unit3/pag9/q3.PNG"></td>
                        <td><img id="answer4" src="../../../content/units/unit3/pag9/q4.PNG"></td>
                        <td><img id="answer5" src="../../../content/units/unit3/pag9/q5.PNG"></td>
                        <td><img id="answer6" src="../../../content/units/unit3/pag9/q6.PNG"></td>
                    </tr>
                    <tr>
                        <td><img id="answer7" src="../../../content/units/unit3/pag9/q7.PNG"></td>
                        <td><img id="answer8" src="../../../content/units/unit3/pag9/q8.PNG"></td>
                        <td><img id="answer9" src="../../../content/units/unit3/pag9/q9.PNG"></td>
                        <td><img id="answer10" src="../../../content/units/unit3/pag9/q10.PNG"></td>
                        <td><img id="answer11" src="../../../content/units/unit3/pag9/q11.PNG"></td>
                        <td><img id="answer12" src="../../../content/units/unit3/pag9/q12.PNG"></td>
                    </tr>
                </table>
            </div>
            <div class="pag5">
                <div class="input-group  content-test ">
                    <span>It refers to the use of </span>
                    <img id="content1" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question1">
                    <span>for the various processes of</span>
                    <img id="content2" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question2">
                </div>
                <div class="input-group  content-test">
                    <span>, assessing, selecting, recruiting and</span>
                    <img id="content3" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question3">
                    <span>job candidates.</span>
                </div>
                <div class="input-group  content-test">
                    <span>It is to</span>
                    <img id="content4" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question4">
                    <span>interest in the open</span>
                    <img id="content5" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question5">
                </div>
                <div class="input-group  content-test">
                    <span>by capturing candidates’ interest in your company via</span>
                    <img id="content6" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question6">
                </div>
                <div class="input-group  content-test">
                    <span>It can</span>
                    <img id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question7">
                    <span>interest and increase the</span>
                    <img id="content8" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question8">
                </div>
                <div class="input-group  content-test">
                    <span>It is as a way to </span>
                    <img id="content9" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question9">
                    <span>with</span>
                    <img id="content10" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question10">
                    <span>, opening their doors
                    purposefully to</span>
                </div>
                <div class="input-group  content-test">
                    <img id="content11" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question11">
                    <span>their culture. They usually take place when a
                    company has multiple jobs to</span>
                </div>
                <div class="input-group  content-test">
                    <img id="content12" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question12">
                    <span>.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>