<div class="container">
<div class="row">
        <div id="col1">
                <h3 id="ColorU3">
                        13. Give orders in writing to Juan by using the
                        situation given.
                </h3>
                
        </div>
        <div id="col2" class="pag5">
                <div class="col-md-12 text-center">
                        <div class="row">
                                        <img
                                                src="../../../content/units/unit3/Pag15/PAG15_08.png"
                                                alt=""
                                                class="img-fluid"
                                                height="200"
                                                width="200"
                                        />
                                <div class="col-md-6 pag8">
                                        <p>
                                                <b>The manager didn't  <br> call me. </b> <br>
                                                <span>Ex. Juan, do you want to call the manager back? </span>
                                        </p>
                                </div>
                              
                        </div>
                </div>

                <div >
                        <div class="input-group col-sm-8 content-test">
                                <span>I have a lot of files to organize. </span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question1"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu1"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer1"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>I haven't made the job profile. </span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question2"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu2"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer2"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span
                                        >My assistant hasn't signed the
                                        checks.</span
                                >
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question3"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu3"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer3"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>My phone is ringing.</span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question4"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu4"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer4"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>I forgot my laptop on 6th floor.</span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question5"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu5"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer5"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>I didn't enter the candidate's information in the computer.</span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question6"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu6"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer6"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>I didn't send the press advertisement.</span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question7"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu7"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer7"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>I haven't prepared the onboarding process.</span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question8"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu8"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer8"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>I didn't call the best candidate.</span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question9"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu9"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer9"
                                ></span>
                        </div>
                </div>
                <div>
                        <div class="input-group col-sm-8 content-test">
                                <span>I need to post the information on the bulletin board..</span>
                        </div>
                        <div class="form-group cuesti10">
                                <div class="input-group">
                                        <input
                                                class="form-control form-control-sm"
                                                type="text"
                                                id="question10"
                                        />
                                        <div class="input-group-prepend">
                                                <span
                                                        class="input-group-text"
                                                        id="chqu10"
                                                        ><img class="img-fluid"
                                                /></span>
                                        </div>
                                </div>
                                <span
                                        class="error-answer"
                                        id="correct_answer10"
                                ></span>
                        </div>
                </div>
        </div>
</div>
</div>
<script
        type="text/javascript"
        src="../../../js/lib/jquery-3.6.0.min.js"
></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>
