<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU3">5. Answer in writing according to the text above.</h3>
            <div class="row">
                <div><img height="300" width="300" class="img-fluid" src="../../../content\units\unit3\Pag6\PAG6_16.png"></div>
            </div>
        </div>
        <div id="col2" class="text-center">
            <img class="img-fluid" height="240" width="240" src="../../../content\units\unit3\Pag6\PAG6_07.png">
            <ul>
                <li><b>Why is “hiring managers
                    know the employee”important
                    for the company?</b></li>
                <li>Why is growing within the company motivating for employees?
                </li>
                <li><b>Add 2 other advantages
                    you can think of.</b></li>
            </ul>
        </div>
        <div id="col3">
            <h3 id="ColorU3">LET'S WRITE</h3>
            <textarea class="form-control" name="" id="" cols="50" rows="13" placeholder="Type your text here..."></textarea>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>