<div class="container">
        <div class="row">
                <div id="col1">
                        <h3 id="ColorU3">
                                6. Now listen to Karl Evans talk about the
                                external recruitment types.
                        </h3>
                        <input
                                type="image"
                                class="img-fluid"
                                name="English"
                                onclick="playAudioEng()"
                                src="../../../content\units\unit3\Pag7\PAG7_13.png"
                        />

                        <audio
                                id="audioEng"
                                src="../../../content/units/unit3/sounds/LISTEN 1.mp3"
                        ></audio>
                        <audio
                                id="audioSpa"
                                src="../../../content/units/unit3/sounds/LISTEN 1.mp3"
                        ></audio>
                </div>
                <div id="col2">
                        <img
                                class="img-fluid"
                                src="../../../content\units\unit3\Pag7\PAG7_07.png"
                                alt="English"
                        />
                </div>

                <div id="col3">
                        <div class="content-text content-zoom-1">
                                <p class="text-left zoom-text">
                                        <b> External methods</b> <br> There are many options
                                        available for generating interest from
                                        individuals outside the organization.<br>
                                        The first one is: <br>
                                        <b>1. Online recruitment:</b><br>
                                        this is also known as E-recruitment, it
                                        refers to the use of web-based
                                        technology for the various processes of
                                        attracting, assessing, selecting,
                                        recruiting and on boarding job
                                        candidates. <br>
                                        Then, we have: <br>
                                        <b>2. Press</b><br>
                                        advertising: it is to build interest in
                                        the open positions by capturing
                                        candidates’ interest in your company via
                                        advertisements, for the purpose of
                                        developing a talent pipeline. <br>
                                        After we
                                        find: <br>
                                        <b>3. Networking: </b><br>it enables you to
                                        get your message out about your company,
                                        culture and opportunities beyond the
                                        posting process. It can cultivate
                                        interest and increase the candidate
                                        pool. Invest the time to keep your
                                        connections alive and to expand them.
                                        And finally, we have: <br>
                                        <b>4.Open days:</b> <br> it
                                        is as a way to connect with potential
                                        candidates, opening their doors
                                        purposefully to share their culture and
                                        allow you to get a feel for the place.
                                        They usually take place when a large
                                        company has multiple jobs to fill.
                                </p>
                        </div>
                </div>
        </div>
</div>
<script
        type="text/javascript"
        src="../../../js/lib/jquery-3.6.0.min.js"
></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script
        type="text/javascript"
        src="../../../js/lib/sweetalert2.min.js"
></script>
<script
        type="text/javascript"
        src="../../../js/lib/html2canvas.min.js"
></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>
