<div class="container">
    <div class="row">
        <div id="col1" class="text-center">
            <h3 id="ColorU3">4. Read the text.</h3>
            <img class="img-fluid-1" src="../../../content\units\unit3\Pag5\PAG5_10.png" alt="">
        </div>
        <div id="col2">
            <div class="content-zoom-1">
                <p class="zoom-text text-left">
                    <b>Advantages of internal recruitment</b><br> Recruiters are usually not involved with internal recruiting for clients. But, they should know the advantages of internal recruitment. That way, you can talk about how your services differ
                    from other hiring options. The following are benefits of internal recruitment. <br>
                    <b>Employees know the business</b><br> If a business hires an existing employee, the worker already understands how the organization operates. They have experience with the work culture and day-to-day tasks. And, they know their co-workers.
                    The onboarding process might be simpler than hiring externally. <br>
                    <b>Hiring managers know the employee</b> Hiring authorities have an existing relationship with the employee. There is no need to start a whole new relationship when the position is filled. And, trust is already established between
                    the business and employee. <br>
                    <b>Employees grow within a business</b><br> If an employee feels they are stuck in a position and can’t advance at the business, they are likely to find a job elsewhere. Internal recruiting gives existing employees more opportunities
                    within an organization, which can be motivating and help with retention.
                </p>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit3\Pag5\PAG5_08.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>