<div class="container">
    <div class="row">
        <div id="col1">
            <img class="img-fluid" src="../../../content\units\unit3\Pag1\PAG1_06.png">
        </div>
        <div id="col2">
            <h4 id="ColorU3">Introduction</h4>
            <p>The aim of this module is to gain more experience and knowledge about how to find a candidate, what recruitment means, the types of recruitment, some advantages for each type of recruitment, and the way how to give orders and instructions
                through a series of diferent exercises which focus on developing the 4 skills.</p>
            <div class="row">
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U3.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U3.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U3.png';"
                        onclick="ocultar();">
                </div>
                <div class="col-md-4">
                    <input type="image" name="Español" onclick="playAudioSpa()" src="../../../content/theme/botones/Btn_Espanol_U3.png" alt="Español" onclick="this.src='../../../content/theme/botones/Btn_Espanol_U3.png';" onmouseout="this.src='../../../content/theme/botones/Btn_Espanol_U3.png';">
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit3/sounds/INTRODUCCION INGLES.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit3/sounds/INTRODUCCION ESPANOL.mp3"></audio>


        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>