<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU2">8. Grab the sentence that corresponds to the picture.</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-5" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="5" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
        </div>

        <div id="col2">

            <div class="row">

                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><img class="img-fluid" src="../../../content/units/unit2/img/pag9/img1.png"></td>
                            <td><img class="img-fluid" src="../../../content/units/unit2/img/pag9/img2.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="content1" src="../../../content/units/unit2/img/drag/page5/images_answer.png"></td>
                            <input type="hidden" id="question1">
                            <td><img class="img-fluid" id="content2" src="../../../content/units/unit2/img/drag/page5/images_answer.png"></td>
                            <input type="hidden" id="question2">
                        </tr>
                        <tr>
                            <td style="padding-top: 0; text-align: center;"><span id="chqu1"><img class="img-fluid" /></span></td>
                            <td style="padding-top: 0; text-align: center;"><span id="chqu2"><img class="img-fluid" /></span></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" src="../../../content/units/unit2/img/pag9/img3.png"></td>
                            <td><img class="img-fluid" src="../../../content/units/unit2/img/pag9/img4.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="content3" src="../../../content/units/unit2/img/drag/page5/images_answer.png"></td>
                            <input type="hidden" id="question3">
                            <td><img class="img-fluid" id="content4" src="../../../content/units/unit2/img/drag/page5/images_answer.png"></td>
                            <input type="hidden" id="question4">
                        </tr>
                        <tr>
                            <td style="padding-top: 0; text-align: center;"><span id="chqu3"><img class="img-fluid" /></span></td>
                            <td style="padding-top: 0; text-align: center;"><span id="chqu4"><img class="img-fluid" /></span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td><img class="img-fluid" id="answer1" src="../../../content/units/unit2/img/pag9/9_13.png"></td>
                            <td><img class="img-fluid" id="answer2" src="../../../content/units/unit2/img/pag9/9_14.png"> </td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer3" src="../../../content/units/unit2/img/pag9/9_15.png"></td>
                            <td><img class="img-fluid" id="answer4" src="../../../content/units/unit2/img/pag9/9_16.png"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>