<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3 id="ColorU2">4. Listen and complete the text.</h3>
            </div>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit2\img\Pag5\PAG5_09.png"></div>
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U2.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U2.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U2.png';"
                        onclick="ocultar();">

                </div>
                <div><audio id="audioEng" src="../../../content/units/unit2/sounds/LISTEN 1.mp3"></audio></div>
                <div class="row">
                    <div class="col-10 text-center">
                        <img class="img-fluid" id="img-try-2" src=""><br>
                    </div>
                    <div class="col-10 text-center">
                        <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png"><br>
                    </div>
                    <div class="col-10 text-center">
                        <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                    </div>
                </div>
            </div>

        </div>
        <div id="col2" class="">
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="row">
                    <br>
                    <span>The hiring</span>
                    <div>
                        <img id="content1" src="../../../content/units/unit1/img/pag16/images_answer.png"><br>
                        <input type="hidden" id="question1">
                    </div>
                    <span>begins by identifying a </span>
                    <img id="content2" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question2">
                    <span>within your </span>
                    <img id="content3" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question3">
                    <span>.</span>
                </div><br>
                <div class="row">
                    <span>This need could vary from</span>
                    <img id="content4" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question4">
                    <span>a </span>
                    <img id="content5" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question5">
                    <span>position, </span>
                    <img id="content6" src="../../../content/units/unit1/img/pag16/images_answer.png">
                </div><br>
                <input type="hidden" id="question6">
                <div class="row">
                    <span>a team’s </span>
                    <img id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question7">
                    <span>, or expanding the reach of organizational </span>
                    <img id="content8" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question8">
                    <span>.</span>
                </div>
            </div>
            <div></div>
            <div id="dvSource">
                <table class="table table-borderless">
                    <tr>
                        <td><img id="answer1" src="../../../content/units/unit2/img/Pag5/p1.PNG"></td>
                        <td><img id="answer2" src="../../../content/units/unit2/img/Pag5/p2.PNG"></td>
                        <td><img id="answer3" src="../../../content/units/unit2/img/Pag5/p3.PNG"></td>
                        <td><img id="answer4" src="../../../content/units/unit2/img/Pag5/p4.PNG"></td>
                    </tr>
                    <tr>
                        <td><img id="answer5" src="../../../content/units/unit2/img/Pag5/p5.PNG"></td>
                        <td><img id="answer6" src="../../../content/units/unit2/img/Pag5/p6.PNG"></td>
                        <td><img id="answer7" src="../../../content/units/unit2/img/Pag5/p7.PNG"></td>
                        <td><img id="answer8" src="../../../content/units/unit2/img/Pag5/p8.PNG"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>