<div class="container">
<div class="row">
    <img src onerror="initializeScreen()">
    <div id="col1">

        <div class="container">
            
    
            <div id="leftBox" class="puzzle" >
                <table id="puzzle1"></table>

            </div>
            <div>
                <input class="butt btn btn-success" type="submit" value="Clear All" onclick="clearAllClicked()" /><br>

                <input class="butt btn btn-success" type="submit" value="Check" onclick="checkClicked()" data-toggle="modal" id="checkClick" /><br>

                <input class="butt btn btn-success" type="submit" value="Solve" onclick="solveClicked()" /><br>

                <input class="butt btn btn-success" type="submit" value="Clue" onclick="clueClicked()" /><br>
            </div>
            <div class="subit">
                <br>
                <h3>HORIZONTAL</h3>
                <p class="subitp">
                    <strong class="strongsub">3.</strong> S/he can supply and
                    repair water pipes, sinks, baths etc.
                    <br />
                    <strong class="strongsub">6.</strong> S/he is able to
                        participate in various financial
                        transactions within a recognised
                        financial institution. <br />
                        <strong class="strongsub">7.</strong> S/he can look after
                        your teeth. <br />
                        <strong class="strongsub">9.</strong> S/he likes educating
                        people. <br />
                        <strong class="strongsub">10.</strong> S/he is in charge
                        of a trial in court. <br />
                        <strong class="strongsub">11.</strong> S/he is able to
                        write articles for newspapers. <br />
                        <strong class="strongsub">14.</strong> S/he can enforce
                        the law. <br />
                        <strong class="strongsub">15.</strong> S/he is the boss in
                        a restaurant kitchen. <br />
                        <strong class="strongsub">16.</strong> S/he is able to
                        look after the records of money for a
                        company or person. <br />
                        <strong class="strongsub">17.</strong> S/he can operate on
                        you in hospital. <br />
                        <strong class="strongsub">18.</strong> S/he will be able
                        to stop buildings and other things from
                        burning. <br />
                        <strong class="strongsub">19.</strong> S/he can work with
                        wood. <br />
                        <strong class="strongsub">21.</strong> S/he builds or
                        designs buildings, machines, roads, etc.
                </p>
                <h3>VERTICAL</h3>
                <p class="subitp">
                    <strong class="strongsub">1.</strong> S/he can make bread
                    and cakes. <br />
                    <strong class="strongsub">2.</strong> S/he looks after you
                    in hospital. <br />
                    <strong class="strongsub">4.</strong> S/he constructs
                    houses and other constructions. <br />
                    <strong class="strongsub">5.</strong> S/he speaks for
                    people in court. <br />
                    <strong class="strongsub">8.</strong> She brings you your
                    food or drinks in a restaurant. <br />
                    <strong class="strongsub">12.</strong> S/he treats people
                    who are ill or hurt. <br />
                    <strong class="strongsub">13.</strong> S/he fixes lights,
                    switches and appliances. <br />
                    <strong class="strongsub">20.</strong> S/he treats animals
                    who are ill or hurt. <br />
                </p>
            </div>

            <div class="modal fade" id="wingame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Congrats!!!
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You Win !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>
<script type="text/javascript" src="../../../js/CW2.js"></script>