<div class="container">
    <div class="row">
        <div id="col1">
            <div><h3 id="ColorU2">11. Read and check your answers.</h3></div>
            <img class="img-fluid" src="../../../content/units/unit2/img/Pag12/PAG12_10.png" alt="">
        </div>
        <div id="col2" class="pag6">
            <div class="content-zoom-1">
 
                <p>
                    A job description summarizes the main responsibilities, activities, qualifications and skills for a role. It is also known as a JD which describes the type of work to perform.<br>
                    A job description includes important details for the company like company mission, culture and any benefits it provides to employees. It also specifies to whom the position reports and salary range. <br>
                    An effective job description provides enough details for candidates to determine whether they qualify for the position or not. Some details are:<br>
                    
                    <b>Job Title</b><br>
                    
                    Make your job titles specific: clear job titles are really effective: You have to be precise by including key phrases that describe accurately the role.<br>
                    Avoid internal lingo that may confuse the job seeker. Stick to standard experience levels like "Senior" rather than "VI".<br>
                    
                    <b>Job Summary</b><br>
                    
                    Open with a strong, attention-grabbing summary. Your summary should provide an overview of your company and expectations for the position.<br>
                    Hook your reader with details about what makes your company unique. Your job description is an introduction to your company and your employer brand. Include details about your company culture to sum up why a candidate would love to work for you.<br>
                    Include an exact job location. Provide an exact job location to optimize your job posting so it appears higher in job search results.<br>
                    
                    <b>Responsibilities and Duties</b><br>
                    
                    Outline the essential responsibilities of the position. Make sure your list of responsibilities is detailed but concise. Also emphasize the duties that may be unique to your organization.<br>
                    Highlight the day-to-day activities of the position. This will help candidates understand the work environment and the activities they will be exposed to on a daily basis. This level of detail will help the candidate determine if the role and company are a right fit, helping you attract the best candidates for your position.<br>
                    Specify how the position fits into the organization. Indicate who the job reports to and how the person will function within your organization, this will help candidates have better understanding of how the role impacts the business.<br>
                    
                    <b>Qualifications and Skills</b> <br>
                    
                    Include a list of hard and soft skills. The job description should specify education, previous job experience, certifications and technical skills required for the role. You may also include soft skills, like communication and problem solving, as well as personality traits that you envision for a successful hire.<br>
                    Keep your list concise. While you may be tempted to list out every requirement you envision for your ideal hire, it’s important to identify the must-haves vs nice-to-have skills and qualifications for the role to encourage a more diverse set of candidates to apply.<br>
                    
                    <b>Salary and Benefits</b><br>
                    
                    Include a salary range. Stand out from other employers by adding the salary band to your job description to help attract best candidates.
                    List out your top perks and benefits. Encourage more people to apply by sharing the attractive rewards and benefits you offer your employees, such as Flexible hours, medical, dental and vision coverage, office snacks, etc.<br>
                    
                </p>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit2\img\Pag12/PAG12_06.png">
                
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>