<div class="container">
<div class="row">
    <div id="col1">
    
        <div><h3 id="ColorU2">13. Your company has an administration vacancy to offer. Create the description for this job where you include the details from the reading.</h3></div>
    </div>
    <div id="col2">
        <div class="row">  
            <img class="img-fluid" width="300" height="50" src="../../../content/units/unit2/img/Pag14/imagen_07.png" alt="">
            <img class="img-fluid central"  width="150" height="200"  src="../../../content\units\unit2\img\Pag11\PAG11_11.png">
        </div>
        <div class="row">
            <h3 id="ColorU2">LET'S WRITE</h3>            
            <textarea class="form-control" name="" id="" cols="150" rows="5" placeholder="Type your text here..."></textarea>
        </div>
    </div>  
    
    
    
    </div>
    </div>
</div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>