<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU2">
                7. Read the paragraphs below and match them to the steps above.
            </h3>
            <img class="img-fluid" id="img-try-4" src=""><br>
            <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png">
        </div>
        <div id="col2">
            <div class="content-zoom-1 pag5">
                <div class="col-md-12 content-text">
                    <div>
                        <div class="input-group ">
                            <div class="form-group cuesti10">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" id="question1" />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu1"><img class="img-fluid"/></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer1"></span>
                            </div>
                            <span>Bring in temporary contractors for short-term programs, and temp to perm employees for more long term projects.</span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group ">
                            <div class="form-group cuesti10">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" id="question2" />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu2"><img
                                                                                    class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer2"></span>
                            </div>
                            <span>You are hiring for skills and knowledge, not just to add more bodies. Identify the key skills and keep them on board, hiring replacements only if someone leaves who has these skills.</span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group ">
                            <div class="form-group cuesti10">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" id="question3" />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu3"><img class="img-fluid"/></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer3"></span>
                            </div>
                            <span>Training can be focused on immediate project needs or on long-term goals for training the entire organization. Hire knowledge experts to transfer their information to your current employees whenever possible.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content-text">
                    <div>
                        <div class="input-group ">
                            <div class="form-group cuesti10">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" id="question4" />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu4"><img class="img-fluid"/></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer4"></span>
                            </div>
                            <span>Give some employees a promotion and move them into next-level positons, then focus on replacing skills at the entry level.</span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group ">
                            <div class="form-group cuesti10">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" id="question5" />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu5"><img
                                                                                    class="img-fluid" /></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer5"></span>
                            </div>
                            <span>Your staffing agency can be a great source of support when it comes to hiring only for real needs. It is a more flexible option, with part time and full time employment options, short and long-term contracts, and many of the hiring costs are handled upfront by the agency..</span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group ">
                            <div class="form-group cuesti10">
                                <div class="input-group">
                                    <input class="form-control form-control-sm" type="text" id="question6" />
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="chqu6"><img class="img-fluid"/></span>
                                    </div>
                                </div>
                                <span class="error-answer" id="correct_answer6"></span>
                            </div>
                            <span>Every job changes over time, which is why you need to keep up with each job’s description of responsibilities, requirements, and salary needs.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit2\img\Pag8\PAG8_08.png" alt="" />
            <div class="pag5">
                <p>
                    Follow the above tips, and you will ensure that your company will be in better tune with real hiring needs.
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>