<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU2">2. Read the text and check your answers</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-1" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
            </div>
        </div>
        <div id="col2">
            <div class="content-zoom">
                <div class="pregresp">
                    <p>1. __ fill out the format after the training?
                    </p>
                    <div class="respuestas">
                        <span class="btn-m3" id="11">1</span><span> Can the human resources manager</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="12">2</span><span>Can the human resources manager to</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="13">3</span><span>The human resources manager can</span>
                    </div>
                    <div>
                        <span class="error-answer" id="correct_answer1"></span>
                        <input type="hidden" id="question1">
                    </div>
                </div>
                <div class="pregresp">
                    <p>2. I __ fill out interview forms.
                    </p>
                    <div class="respuestas">
                        <div>
                            <span class="btn-m3" id="21">1</span><span>can n’t</span>
                        </div>
                        <div>
                            <span class="btn-m3" id="22">2</span><span>can't</span>
                        </div>
                        <div>
                            <span class="btn-m3" id="23">3</span><span>can't to</span>
                        </div>
                        <div>
                            <span class="error-answer" id="correct_answer2"></span>
                            <input type="hidden" id="question2">
                        </div>
                    </div>
                </div>
                <div class="pregresp">
                    <p>3. Can the HR professionals advise employees? Yes, __
                    </p>
                    <div class="respuestas">
                        <div>
                            <span class="btn-m3" id="31">1</span><span>they can.</span>
                        </div>
                        <div>
                            <span class="btn-m3" id="32">2</span><span> they read.</span>
                        </div>
                        <div>
                            <span class="btn-m3" id="33">3</span><span>you can.</span>
                        </div>
                        <div>
                            <span class="error-answer" id="correct_answer3"></span>
                            <input type="hidden" id="question3">
                        </div>
                    </div>
                </div>
                <div class="pregresp">
                    <p>4. The HR team __ workers before getting education.</span>
                    </p>
                    <div class="respuestas">
                        <div>
                            <span class="btn-m3" id="41">1</span><span>they can.</span>
                        </div>
                        <div>
                            <span class="btn-m3" id="42">2</span><span> they read.</span>
                        </div>
                        <div>
                            <span class="btn-m3" id="43">3</span><span>you can.</span>
                        </div>
                        <div>
                            <span class="error-answer" id="correct_answer4"></span>
                            <input type="hidden" id="question4">
                        </div>
                    </div>
                </div>
                <div class="pregresp">
                    <p>5. __ prepare meetings after graduating from the university?
                    </p>
                    <div class="respuestas">
                        <span class="btn-m3" id="51">1</span><span> Could you   </span>
                    </div>
                    <div>
                        <span class="btn-m3" id="52">2</span><span>Could you to</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="53">3</span><span>You could</span>
                    </div>
                    <div>
                        <span class="error-answer" id="correct_answer5"></span>
                        <input type="hidden" id="question5">
                    </div>
                </div>
                <div class="pregresp">
                    <p>6. The HR manager __ data from digital systems regarding hiring, payroll and rewards.
                    </p>
                    <div class="respuestas">
                        <span class="btn-m3" id="61">1</span><span> can analyze</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="62">2</span><span>can analyzes</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="63">3</span><span>can to analyze</span>
                    </div>
                    <div>
                        <span class="error-answer" id="correct_answer6"></span>
                        <input type="hidden" id="question6">
                    </div>
                </div>
                <div class="pregresp">
                    <p>7. I __ help you tomorrow.
                    </p>
                    <div class="respuestas">
                        <span class="btn-m3" id="71">1</span><span> be able to</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="72">2</span><span>will be able</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="73">3</span><span>will be able to</span>
                    </div>
                    <div>
                        <span class="error-answer" id="correct_answer7"></span>
                        <input type="hidden" id="question7">
                    </div>
                </div>
                <div class="pregresp">
                    <p>8. __ to work in the hiring process after the recruitment?
                    </p>
                    <div class="respuestas">
                        <span class="btn-m3" id="81">1</span><span> Will you be able</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="82">2</span><span>You will able</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="83">3</span><span>You will be able</span>
                    </div>
                    <div>
                        <span class="error-answer" id="correct_answer8"></span>
                        <input type="hidden" id="question8">
                    </div>
                </div>
                <div class="pregresp">
                    <p>9. The HR professional __ communicate the final decision as she was sick.
                    </p>
                    <div class="respuestas">
                        <span class="btn-m3" id="91">1</span><span>be able to</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="92">2</span><span>was be able to</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="93">3</span><span>wasn't able to</span>
                    </div>
                    <div>
                        <span class="error-answer" id="correct_answer9"></span>
                        <input type="hidden" id="question9">
                    </div>
                </div>
                <div class="pregresp">
                    <p>10. The HR manager is free today, she __ participate in the meeting.
                    </p>
                    <div class="respuestas">
                        <span class="btn-m3" id="101">1</span><span> will be able to</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="102">2</span><span>will to</span>
                    </div>
                    <div>
                        <span class="btn-m3" id="103">3</span><span> will to not</span>
                    </div>
                    <div>
                        <span class="error-answer" id="correct_answer10"></span>
                        <input type="hidden" id="question10">
                    </div>
                </div>
            </div>
        </div>

        <div id="col3">

            <img class="img-fluid" src="../../../content\units\unit2\img\Pag3\PAG3_06.png">

        </div>
    </div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>