<div class="container">
    <div class="row">
        <div id="col1">
            <img class="img-fluid" src="../../../content\units\unit5\1\PAG1_06.png">
        </div>
        <div id="col2">
            <h4 id="ColorU5">Introduction</h4>
            <p>The main focus of this module is to give some background about hiring and training processes, some vocabulary related to salary and benefits, the steps for a job offer, what to include in the job offer letter, the steps for a successful job
                offer, the process and plan for onboarding new employees, and the tasks HR professionals should carry after certain time of job performance in the company.</p>
            <div class="row">
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U5.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U5.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U5.png';"
                        onclick="ocultar();">
                </div>
                <div class="col-md-4">
                    <input type="image" name="Español" onclick="playAudioSpa()" src="../../../content/theme/botones/Btn_Espanol_U5.png" alt="Español" onclick="this.src='../../../content/theme/botones/Btn_Espanol_U5.png';" onmouseout="this.src='../../../content/theme/botones/Btn_Espanol_U5.png';">
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit5/sounds/INTRODUCCION INGLES.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit5/sounds/INTRODUCCION ESPANOL.mp3"></audio>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>