<div class="container">
<div class="row">

    <div id="col1" class="vid">
        <h4 id="ColorU5" class="text-center">Lenguage Tips</h4>
        <video src="../../../content/units/videos/RRHH-U5-1.mp4" poster="../../../content/units/img_videos/RRHHU5.jpg" width="800" height="600" controls></video>
    </div>
  
    

</div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>