<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">7. Below you’ll find other steps for a successful job offer and some sentences that belong to those steps. Grab the sentences to the steps. </h3>
            <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png"><br>
        </div>
        <div id="col2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><img class="img-fluid" src="../../../content/units/unit5/9/9_07.png" alt=""></td>
                        <td><img class="img-fluid" src="../../../content/units/unit5/9/9_08.png" alt=""></td>
                        <td><img class="img-fluid" src="../../../content/units/unit5/9/9_09.png" alt=""></td>
                    </tr>
                </thead>
            </table>
            <p></p>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><img class="img-fluid" id="answer1" src="../../../content/units/unit5/9/r1.png"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid" id="answer2" src="../../../content/units/unit5/9/r2.png"></td>
                        <td><img class="img-fluid" id="answer3" src="../../../content/units/unit5/9/r3.png"> </td>
                        <td><img class="img-fluid" id="answer4" src="../../../content/units/unit5/9/r4.png"> </td>
                    </tr>
                    <tr>
                        <td><img class="img-fluid" id="answer5" src="../../../content/units/unit5/9/r5.png"></td>
                        <td><img class="img-fluid" id="answer6" src="../../../content/units/unit5/9/r6.png"> </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>