<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">4. Read the text below to check your answers.</h3>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit5\6\PAG6_12.png"></div>
                
            </div>>
        </div>
        <div id="col2" class="">
            <div class="content-zoom-1">
                <p class="zoom-text text-left"><b>THE JOB OFFER</b> <br> A job offer is an invitation for a potential employee to work in a specific position for an employer. Job offers typically contain the details of the employment offer, including salary, benefits, job responsibilities,
                    and the reporting manager's name and title. <br> The process of making a job offer to a candidate may appear simple at first glance: you create the offer letter, ask management to approve and send it to candidates. But each of these
                    require time, effort and a good deal of coordination and care. Here are a few tips that will help you optimize your job offer process: <br> Your offer letters should include information like job title, compensation, benefits and expected
                    start date. The start date depends on the candidate’s availability, but you could agree upon all other factors beforehand. This way you will be able to send the offer as quickly as possible to losing candidates to another opportunity.
                    Discuss details with hiring managers when you open the requisition. Managers have to prepare questions like: <br>
                    <b>Who does this role report to?</b> <br> The hiring manager and team leader may not always be the same person. <br>
                    <b>What is the pay range for this position?</b> <br>Draw from your company’s pay structure for this information. <br>
                    <b>What will the final compensation package depend on?</b> <br> You may decide to offer a higher salary to candidates with more experience or education. <br>
                    <b>Will we offer any bonuses with this position?</b> <br> Discuss other compensation, like commissions, bonuses and rewards. <br>
                    <b>What kind of benefits will we offer?</b> <br> For example, you might offer stock options to senior roles and training opportunities to other positions. <br>
                    <b>How many days should we wait for a candidate to accept our offer?</b> <br> Ideally, candidates won’t take more than a couple of days to accept, but you might extend this period if needed. <br> You may need to revisit all these if your
                    finalist decides to negotiate, but using your initial factors as a reference helps speed up the process once you have found your best candidate.
                </p>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit5\6\PAG6_06.png">
        </div>
    </div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>