<div class="container">
<div class="row">
    <div id="col1">
        <h3 id="ColorU5">9. Now read the text below to check your answers.</h3>
        <img class="img-fluid" src="../../../content\units\unit5\11\PAG11_10.png" alt="">
    </div>
    <div id="col2">
        <div class="content-zoom-1">
                    
            <p class="zoom-text text-left"> <b> Onboarding a New Employee</b><br><br>
            Now that you’ve determined which candidate will be joining your team, the real work begins. Implement a new hire onboarding process so the candidate has a positive experience and can easily dive into the job you’ve hired them for.
            The onboarding process shouldn’t simply focus on new hire paperwork—it should focus on processes and resources that will help new hires transition successfully into the company. For example, assigning a mentor or a buddy and setting up one-on-one time with managers can help expedite new hire proficiency. <br><br>
            <b>The Need for a Formal Plan</b><br><br>
            With so much riding on the success of each new hire, it is easy to see that effective onboarding is mission critical. Surprisingly, however, not all companies have a formal onboarding plan in place. Failure to formalize an onboarding process for your organization can spell disaster. <br><br>
            <b>Tasks for Completion before the New Hire’s First Day</b> <br>
            The first day of employment is a stressful, largely non-productive day for most new hires and start this way: <br>
                <ul>
                    <li>Send a welcome email to the new hire, with links and instructions regarding how to access your automated employee portal.</li>
                    <li>Provide a timeline for completion of HR forms and review of employee handbook.</li>
                    <li>Provide clear direction regarding where and when the new hire should report to work, and list any items which must be brought to finalize HR forms.</li>
                    <li>Prepare a work station for the new hire prior to his or her arrival. Ensure that the work station is stocked with everything which will be needed to help the new hire begin on the right foot.</li>
                    <li>Send an itinerary of the first day so that the new hire can be mentally prepared for what to expect.</li>
                    <li>Select and assign one employee to act as a sponsor for the new hire. Clearly define for that employee what the job of sponsorship entails.</li>
                    <li>Send out an email to all employees about the arrival of a new hire, with encouragement to make the new hire welcome at every opportunity.</li>
                </ul> <br>
                <p><b>On the First Day</b><br>
                The first day is a crucial day for truly beginning to immerse a new employee in your company culture. Here are some things to accomplish on this important day: </p><br>
                <ul>
                    <li>Fill in the gaps the employee has pertaining to your company mission, your values, and your history.</li>
                    <li>Introduce the new hire to his or her sponsor.</li>
                    <li>Orient the employee to your organization by introducing key employees, managers, supervisors, and team members.</li>
                    <li>Ensure that the new employee knows the essential details of day-to-day activities, including things such as how to use the phone system and company intranet, where to park, where to find the bathrooms and break rooms, and so on.</li>
                    <li>Check in with HR to confirm that all necessary paperwork has been signed, all policies have been reviewed, and any compliance issues have been addressed.</li>
                </ul><br>
                <p><b>During the First Week</b><br>
                Your continuing goal during the first week is helping the new employee to assimilate into your company culture and become productive as soon as possible. Here are some steps to take to make that happen:</p><br><br>
                <ul>
                    <li>Schedule a one-on-one meeting between the new employee and his or her direct supervisor. The purpose of this meeting should be to clearly outline expectations of the manager and short-term goals for the employee. This meeting is also an opportunity to elicit feedback from the new employee about his or her own career goals and observations about the firm.</li>
                    <li>Ensure that the new employee understands the business processes and workflows which will impact his or her specific position.</li>
                    <li>Assign work to the employee commensurate with his or her current understanding of the firm and its clients and work product.</li>
                    <li>Introduce the employee to other instrumental employees and executives in the firm, perhaps doing so in any informal setting such as an employee luncheon.</li>
                </ul><br>
                <p><b>The First 90 Days</b><br>
                As your new employee settles in, it is important to continue to provide support and training on an ongoing basis. The first 90 days are often considered the most critical to employee retention. Here are some areas on which to focus during this time:</p><br><br>
                <ul>
                    <li>Provide position-specific training as well as cross-training if possible. The more your new employee knows, the more useful he or she will be to your firm.</li>
                    <li>Monitor job performance carefully, and provide constructive feedback where appropriate.</li>
                    <li>Schedule regular check-ins with the new employee, soliciting feedback about his or her observations about your firm’s policies and procedures.</li>
                    <li>Monitor the effectiveness of the employee you assigned to the task of sponsorship, providing guidance as needed to that employee as well.</li>
                </ul><br>
                <p><b>The First Annual Review</b><br>
                The first annual review should be a time of both looking back and looking to the future. To that end, the review should include:</p><br>
                <ul>
                    <li>A formal review of the employee’s performance, coupled with formal, documented feedback.</li>
                    <li>Recognition of employee achievements in a manner consistent with your employer brand.</li>
                    <li>A formal employee career development plan, made with strong input from the employee, and focused on career advancement in your organization.</li>
                </ul>
            </p>
                
        </div> 
    </div>
    <div id="col3">
        <img class="img-fluid" src="../../../content\units\unit5\11\PAG11_06.png">
    </div>
</div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>