<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU5">6. Let’s listen to Dr. Ramos giving some steps for a successful job offer.</h3>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit5\8\PAG8_16.png"></div>
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/Btn_English_U5.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U5.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U5.png';"
                        onclick="ocultar();">
                </div>
            </div>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-1" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit5/sounds/LISTENING.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit5/sounds/LISTENING.mp3"></audio>
        </div>
        <div id="col2">
            <div class="pag5">
                <span>
                After you find the perfect candidate for your job opening why take a chance on losing him/her? If that happens you'll be forced to hire the second best candidate or, worse, have to start over. <br>
                    Here I mention some steps to a successful job offer:
            </span>
            </div>
            <img class="img-fluid" src="../../../content\units\unit5\8\PAG8_13.png">
        </div>
        <div id="col3" class="pag5 content-zoom-1">
            <div class="">
                <!--<input type="text" id="question1" />-->
                <div class="input-group  content-test">
                    <span> <strong> Move fast. </strong> </span>
                    <span>If you've made a</span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question1" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer1"></span>
                    </div>
                    <span>, why
                    wait? Time is always your enemy in
                    your recruiting, even in a down
                    economy exceptional </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question2" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer2"></span>
                    </div>
                    <span>is rare.
                    Whenever possible contact the</span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question3" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer3"></span>
                    </div>
                    <span>candidate later the
                    same day of their final interview.</span>
                </div>
            </div>
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group  content-test">
                    <span> <strong> Always call.</strong> </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question4" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer4"></span>
                    </div>
                    <span>a phone call; not only
                    can you </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question5" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer5"></span>
                    </div>
                    <span> your
                excitement, but you can gauge the
                level of</span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question6" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu6"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer6"></span>
                    </div>
                    <span>of the selected
                    candidate, too.</span>
                </div>
            </div>
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group  content-test">
                    <span> <strong> Be enthusiastic.</strong> <br>Be professional but be  </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question7" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu7"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer7"></span>
                    </div>
                    <span>Tell the candidate s/he was your first  </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question8" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu8"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer8"></span>
                    </div>
                    <span> and explain how impressed others are with his/her </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question9" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu9"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer9"></span>
                    </div>
                    <span>and skills.</span>
                </div>
            </div>
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group  content-test">
                    <span> <strong> Apply the 10% rule.</strong> <br> Generally speaking, candidates  </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question10" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu10"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer10"></span>
                    </div>
                    <span>a pay increase of at least 10% when they  </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question11" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu11"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer11"></span>
                    </div>
                    <span> change jobs. Few candidates will change jobs for the same or lower</span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question12" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu12"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer12"></span>
                    </div>
                    <span>.</span>
                </div>
            </div>
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group  content-test">
                    <span> <strong>Show the money.</strong> <br> Explain pay and benefits very accurately.</span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question13" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu13"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer13"></span>
                    </div>
                    <span>the base salary, how any bonus plans work, provide a fairly thorough</span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question14" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu14"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer14"></span>
                    </div>
                    <span> of health and other benefits, and describe any other perks.</span>
                </div>
            </div>
            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group  content-test">
                    <span> <strong>Get a commitment—even a tentative one.</strong> <br> Many candidates will </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question15" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu15"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer15"></span>
                    </div>
                    <span>time to consider the offer. That's natural—but that doesn't </span>
                    <div class="form-group cuesti10">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" id="question16" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="chqu16"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer16"></span>
                    </div>
                    <span> you can't ask questions. Say, "I completely understand... but can I ask what DO you think about our offer?"</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>