<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU6">
                7. Read the definitions and choose one title from above for each paragraph.
            </h3>
            <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png" />
        </div>
        <div id="col2">
            <div id="dvSource">
                <table class="table table-borderless">
                    <tr>
                        <img id="answer1" class="img-fluid" src="../../../content/units/unit6/8/9_07.PNG" />
                        <img id="answer2" class="img-fluid" src="../../../content/units/unit6/8/9_09.PNG" />
                        <img id="answer3" class="img-fluid" src="../../../content/units/unit6/8/9_10.PNG" />
                        <img id="answer4" class="img-fluid" src="../../../content/units/unit6/8/9_11.PNG" />
                        <img id="answer5" class="img-fluid" src="../../../content/units/unit6/8/9_13.PNG" />
                        <img id="answer6" class="img-fluid" src="../../../content/units/unit6/8/9_15.PNG" />
                        <img id="answer7" class="img-fluid" src="../../../content/units/unit6/8/9_17.PNG" />
                    </tr>
                </table>
            </div>
        </div>
        <div id="col3">
            <div class="content-zoom-1 pag5">
                <div>
                    <div class="input-group  content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question1" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu1"><img class="img-fluid"/></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer1"></span>
                        </div>
                        <span>These facilities bring
                                                        a drastic a change in
                                                        the outlook of the wor-
                                                        kers, improve their
                                                        mental faculty and help
                                                        them in becoming good
                                                        citizens. In the absence
                                                        of such faci- lities,
                                                        they are bound to fall
                                                        prey to the various
                                                        social evils like
                                                        drinking, gambling
                                                        etc.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question2" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu2"><img class="img-fluid"/></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer2"></span>
                        </div>
                        <span>These facilities will
                                                        provide an at- traction
                                                        to the workers to stay
                                                        longer in the
                                                        undertaking. In the
                                                        absence of such
                                                        facilities, the workers
                                                        often leave for their
                                                        villages in search of
                                                        recreation etc.
                                                        Efficient workers can
                                                        also search for better
                                                        chances and may switch
                                                        over to other
                                                        establishments. In order
                                                        to create a permanent
                                                        labor force, such
                                                        facilities are
                                                        essential.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question3" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu3"><img class="img-fluid"/></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer3"></span>
                        </div>
                        <span>These measures provide
                                                        great satisfaction to
                                                        the workers and also
                                                        help in maintaining
                                                        industrial peace.
                                                        Conflicts, chaos, unrest
                                                        etc. are minimized. A
                                                        feeling of oneness with
                                                        the organization is
                                                        created.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question4" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu4"><img class="img-fluid"/></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer4"></span>
                        </div>
                        <span>Welfare facilities make the workers happy and contented both at home and the factory and it brings improvement in their general efficiency. Their efficiency and productivity may not be up to the mark, if they are not relieved of their domestic worries like poor housing, insanitary conditions etc. Once they are relieved of these worries, they work with full zeal and enthusiasm.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question5" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu5"><img class="img-fluid"/></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer5"></span>
                        </div>
                        <span>A change in the attitude and outlook of the employees and their heartfelt co-operation shall also change the outlook of the employers as well. They will become more sympathetic towards them. They will not even hesitate to share the fruits of their hard labor with the workers.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question6" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu6"><img class="img-fluid"/></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer6"></span>
                        </div>
                        <span>The welfare measures shall also help in securing the willing co­operation of the workers. Once satisfied they will be less tempted to destructive and anti-social activities. Thus, a high degree of employee morale is ensured.</span>
                    </div>
                </div>
                <div>
                    <div class="input-group  content-test">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" id="question8" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="chqu8"><img class="img-fluid"/></span>
                                </div>
                            </div>
                            <span class="error-answer" id="correct_answer8"></span>
                        </div>
                        <span>Besides the various economic advantages to the employers and employees, these measures also offer various social advantages. The increase in the efficiency of the workers ultimately leads to an increase in production, productivity and the earnings of the undertakings. The increased earnings also lead to higher wages and make the workers happier and enable them to live “a richer and fuller life”. Finally, the living standard of the society is raised.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>