<div class="container">
<div class="row">
    <div id="col1">
        <h3 id="ColorU6">2. Read the text about Labor Welfare to check your answers.</h3>
            <img class="img-fluid" src="../../../content\units\unit6\3\PAG3_11.png" alt="">
        
    </div>

    <div id="col2">
        <div class="content-zoom-1">
            <p class="zoom-text text-left">
            Labor welfare means the voluntary efforts made by the employer to provide better conditions of employment in their own industries. Its main object is to secure an improved standard of living for the workers, which effects on the worker’s psychology and results in an increase in their productive efficiencies.
            Labor welfare improves physical, mental and moral conditions of worker. Labor welfare includes housing, medical, educational, rest rooms, recreation, canteen, games and sports club facilities, adequate wages, reasonable working hours, insurance etc. <br>
            These benefits may be of: <br>
            <ul>
                <li>Monetary nature, e.g., Retirement benefits, Insurance benefits, and Investment plans, etc.</li>
                <li>Non-monetary natures, e.g., Position title, Good office, Automobile, and good parking space etc.</li>
            </ul>
            <p class="zoom-text text-left">
                By providing these facilities to the workers, efficiency increases considerably. These facilities create confidence in the worker; he feels happy and thus takes more interest in the work.
                It also provides goodwill and the relation between worker and employer becomes good, which reduces indiscipline and helps to maintain industrial peace. When worker has full facilities, s/he will be free from worries and will therefore work in the factory with full efforts and interest.
                Insurance facility and good working conditions create atmosphere of security and feeling of insecurity is removed from the mind of the worker and thus he takes more interest in his work. In present days workers are very much worried due to their housing problems, inadequate wages and expensive education. <br>
                If these problems are removed then a major part of worries of the workers will be removed and if his cultural uplift by providing recreation facilities and adding cultural and social activities are looked after, then worker will work with full heartedness and more interest devoting more physical and mental efforts.
            </p>
            </p>
        </div>
    </div>

    <div id="col3">
        <img class="img-fluid" src="../../../content\units\unit6\3\PAG3_06.png" alt="">
    </div>
</div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>