<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU6">4. Listen to HRM Mrs. Guerrero talk about the Importance of Labor Welfare and complete the blanks.</h3>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit6\5\PAG5_15.png"></div>
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioSpa()" src="../../../content/theme/botones/Btn_English_U6.png" alt="English" onclick="this.src='../../../content/theme/botones/Btn_English_U6.png';" onmouseout="this.src='../../../content/theme/botones/Btn_English_U6.png';"
                        onclick="ocultar();">
                </div>
            </div>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-2" src="">
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="2" src="../../../content/theme/botones/review_but_reposo.png">
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit6/sounds/LISTENING.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit6/sounds/LISTENING.mp3"></audio>
        </div>
        <div id="col2" class="content-zoom-1 ">
            <div>
                <div class="input-group  content-test">
                    <span>Labor welfare</span>
                    <img id="content1" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question1">
                    <br><span>those
                    elements of </span>
                    <img id="content2" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question2">
                    <br><span>other
                    than</span>
                    <img id="content3" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question3">
                    <span>which are
                    significant when initially</span>
                    <img id="content4" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question4">
                    <span>employment and in
                    the ongoing evaluation of one’s
                    welfare on the job. I can tell you
                    personnel welfare is important
                    because of ten reasons:</span>
                    <img id="content5" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question5">
                </div>
            </div>
            <div>
                <div class="input-group  content-test">
                    <span>The first one is that it makes the</span>
                    <img id="content6" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question6">
                    <span>personnel a
                    healthier, sounder-thinking and
                    more</span>
                    <img id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question7">
                    <span>group. <br> The second is that it makes the
                    employee a group of citizens better able to </span>
                    </span>
                    <img id="content8" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question8">
                    <span> the productive processes.
The third one is that it contributes to the maintenance of employee </span>
                    <img id="content9" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question9">
                    <span> and loyalty.
The fourth one is that it maintains an employee’s favorable </span>
                    <img id="content10" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question10">
                    <span> towards his work and work </span>
                    <img id="content11" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question11">
                    <span>.
The fifth one is that it serves to </span>
                    <img id="content12" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question12">
                    <span> and keeps a </span>
                    <img id="content13" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question13">
                    <span> in competition with other organizations.
The sixth one is that it serves to </span>
                    <img id="content14" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question14">
                    <span> some degree of peace with the organized labor </span>
                    <img id="content15" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question15">
                    <span>.
The seventh one is that it </span>
                    <img id="content16" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question16">
                    <span> social, recreational, and cultural needs of the </span>
                    <img id="content17" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question17">
                    <span> and at the same time makes their life easier.
The eighth one is that it reduces employee </span>
                    <img id="content18" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question18">
                    <span> and </span>
                    <img id="content19" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question19">
                    <span>.
The ninth one is that it </span>
                    <img id="content20" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question20">
                    <span> good public relations.
And the last one is that it </span>
                    <img id="content21" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question21">
                    <span> employees and promotes </span>
                    <img id="content22" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question22">
                    <span> and cordial </span>
                    <img id="content23" src="../../../content/units/unit1/img/pag16/images_answer.png">
                    <input type="hidden" id="question23">
                    <span> between employers and employees, which result in more production, better product quality and increased profits.
            </div>
        </div>
    </div>
    <div id="col3">
        <div id="dvSource">
            <table class="table table-borderless" >
                <tr>
                    <img id="answer1" class="img-fluid" src="../../../content/units/unit6/5/5_10.PNG">
                    <img id="answer2" class="img-fluid" src="../../../content/units/unit6/5/5_12.PNG">
                </tr>
                <tr>
                    <img id="answer3" class="img-fluid" src="../../../content/units/unit6/5/5_15.PNG">
                    <img id="answer4" class="img-fluid" src="../../../content/units/unit6/5/5_16.PNG">
                </tr>
                <tr>
                    <img id="answer5" class="img-fluid" src="../../../content/units/unit6/5/5_17.PNG">
                    <img id="answer6" class="img-fluid" src="../../../content/units/unit6/5/5_18.PNG">
                </tr>
                <tr>
                    <img id="answer7" class="img-fluid" src="../../../content/units/unit6/5/5_19.PNG">
                    <img id="answer8" class="img-fluid" src="../../../content/units/unit6/5/5_20.PNG">
                </tr>
                <tr>
                    <img id="answer9" class="img-fluid" src="../../../content/units/unit6/5/5_21.PNG">
                    <img id="answer10" class="img-fluid" src="../../../content/units/unit6/5/5_22.PNG">
                </tr>
                <tr>
                    <img id="answer11" class="img-fluid" src="../../../content/units/unit6/5/5_23.PNG">
                    <img id="answer12" class="img-fluid" src="../../../content/units/unit6/5/5_24.PNG">
                </tr>
                <tr>
                    <img id="answer13" class="img-fluid" src="../../../content/units/unit6/5/5_25.PNG">
                    <img id="answer14" class="img-fluid" src="../../../content/units/unit6/5/5_26.PNG">
                </tr>
                <tr>
                    <img id="answer15" class="img-fluid" src="../../../content/units/unit6/5/5_27.PNG">
                    <img id="answer16" class="img-fluid" src="../../../content/units/unit6/5/5_28.PNG">
                </tr>
                <tr>
                    <img id="answer17" class="img-fluid" src="../../../content/units/unit6/5/5_29.PNG">
                    <img id="answer18" class="img-fluid" src="../../../content/units/unit6/5/5_30.PNG">
                </tr>
                <tr>
                    <img id="answer19" class="img-fluid" src="../../../content/units/unit6/5/5_33.PNG">
                    <img id="answer20" class="img-fluid" src="../../../content/units/unit6/5/5_34.PNG">
                </tr>
                <tr>
                    <img id="answer21" class="img-fluid" src="../../../content/units/unit6/5/5_35.PNG">
                    <img id="answer22" class="img-fluid" src="../../../content/units/unit6/5/5_36.PNG">
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>