<div class="container">
    <div class="row">
        <div id="col1" class="col-md-6">
            <h3 id="ColorU6">
                5. Classify the words below for Methods for Labor Welfare under the correct column.
            </h3>
            <div class="tabla-1">
                <table class="table tabla-1 table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer1" src="../../../content/units/unit6/6/a (1).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer2" src="../../../content/units/unit6/6/a (2).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer3" src="../../../content/units/unit6/6/a (3).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer4" src="../../../content/units/unit6/6/a (4).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer5" src="../../../content/units/unit6/6/a (5).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer6" src="../../../content/units/unit6/6/a (6).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer7" src="../../../content/units/unit6/6/a (7).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer8" src="../../../content/units/unit6/6/a (8).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer9" src="../../../content/units/unit6/6/a (9).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer10" src="../../../content/units/unit6/6/a (10).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer11" src="../../../content/units/unit6/6/a (11).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer12" src="../../../content/units/unit6/6/a (12).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer13" src="../../../content/units/unit6/6/a (13).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer14" src="../../../content/units/unit6/6/a (14).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer15" src="../../../content/units/unit6/6/a (15).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer16" src="../../../content/units/unit6/6/a (16).png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-fluid" id="answer17" src="../../../content/units/unit6/6/a (17).png" />
                            </td>
                            <td>
                                <img class="img-fluid" id="answer18" src="../../../content/units/unit6/6/a (18).png" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div id="col2" class="col-md-6">
            <div class="">
                <table id="ColorU6" class="table table-striped table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Economic</th>
                            <th scope="col">Recreational</th>
                            <th scope="col">Facilitative</th>
                        </tr>
                        <tr style="height: 100px;">
                            <td id="content1"></td>
                            <td id="content2"></td>
                            <td id="content3"></td>
                        </tr>
                        <tr style="height: 100px;">
                            <td id="content4"></td>
                            <td id="content5"></td>
                            <td id="content6"></td>
                        </tr>
                        <tr style="height: 100px;">
                            <td id="content7"></td>
                            <td id="content8"></td>
                            <td id="content9"></td>
                        </tr>
                        <tr style="height: 100px;">
                            <td id="content10"></td>
                            <td id="content11"></td>
                            <td id="content12"></td>
                        </tr>
                        <tr style="height: 100px;">
                            <td id="content13"></td>
                            <td id="content14"></td>
                            <td id="content15"></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
    <div id="col2" class="row">

    </div>

</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/canvas2image.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>