<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU3">1. VOCABULARY: KITCHEN HIERARCHY AND SKILLS</h3>
            <span>Kitchen roles and responsabilities can vary in each restaurant.</span> <br>
            <span><b>Can you organize them starting from the most senior?</b></span>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-1" src="">
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png">
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
        </div>
        <div id="col2">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td><img id="answer1" class="img-fluid" data-id="a" src="../../../content/units/unit3/C2/question1.png"></td>
                                <td><img id="answer2" class="img-fluid" data-id="b" src="../../../content/units/unit3/C2/question2.png"></td>
                                <td><img id="answer3" class="img-fluid" data-id="c" src="../../../content/units/unit3/C2/question3.png"></td>
                                <td><img id="answer4" class="img-fluid" data-id="d" src="../../../content/units/unit3/C2/question4.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content1" data-id="1" src="../../../content/units/unit3/C2/answer1.png"></td>
                                <input type="hidden" id="question1">
                                <td><img class="img-fluid" id="content2" data-id="2" src="../../../content/units/unit3/C2/answer2.png"></td>
                                <input type="hidden" id="question2">
                                <td><img class="img-fluid" id="content3" data-id="3" src="../../../content/units/unit3/C2/answer3.png"></td>
                                <input type="hidden" id="question3">
                                <td><img class="img-fluid" id="content4" data-id="4" src="../../../content/units/unit3/C2/answer4.png"></td>
                                <input type="hidden" id="question4">
                            </tr>
                            <tr>
                                <td style="padding-top: 0; text-align: center;"><span id="chqu1"><img class="img-fluid" /></span></td>
                                <td style="padding-top: 0; text-align: center;"><span id="chqu2"><img class="img-fluid" /></span></td>
                                <td style="padding-top: 0; text-align: center;"><span id="chqu3"><img class="img-fluid" /></span></td>
                                <td style="padding-top: 0; text-align: center;"><span id="chqu4"><img class="img-fluid" /></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>