<div class="container">
    <div class="row">
        <div id="col1">
            <div><img class="img-fluid-1" src="../../../content\units\unit3\C6\PAG6_08.png"></div>
            <div>
                <h3 id="ColorU3">5. Read the text below about other positions in the restaurant</h3>
            </div>
        </div>
        <div id="col2">
            <div class="content-zoom-ep">
                <p class="zoom-text text-left">Of course, there are plenty of other people at restaurants who don't directly work in the kitchen. These job titles are for those who enjoy working face-to-face with customers.
                    <ol class="zoom-text text-left">
                        <li><b>The waiter</b> takes customers' orders and serves them their food and drinks. They can also be responsible for removing dishes and cleaning the table. They are the link between the kitchen and the customer. Waiters should be
                            patient, positive and have a good memory.</li>
                        <li><b>The host</b> is the first person customers see when entering a restaurant. This person warmly greets guests and shows them to their tables. This is a great job for someone interested in working at a restaurant but has little
                            or no experience.</li>
                        <li><b>The bartender</b> is responsible for preparing drinks. They also serve the drinks or food if customers are sitting at the bar. Bartenders need to remember many drink recipes and be personable. Many establishments require that
                            their bartender has a license to serve alcohol.</li>
                    </ol>
                </p>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-12">
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit3\C6\PAG6_total.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>