<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU3">10. Read the questions and choose the correct answer</h3>
            <img class="img-fluid" id="img-try-5" src=""><br>
            <br><img class="btn-save img-fluid" data-id="5" src="../../../content/theme/botones/review_but_reposo.png">
        </div>
        <div id="col2">
            <div>
                <p><b>1&nbsp;.________choose a different menu?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="11">a</span>&nbsp;<span>Can the chef </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="12">b</span>&nbsp;<span>Can he to</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="13">c</span>&nbsp;<span>He can</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer1"></span>
                        <input type="hidden" id="question1">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu1"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>
            <div>
                <p><b>2.&nbsp; I________cook pork tenderloin.</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="21">a</span>&nbsp;<span>can n’t</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="22">b</span>&nbsp;<span>can't</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="23">c</span>&nbsp;<span>can't to</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer2"></span>
                        <input type="hidden" id="question2">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu2"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>
            <div>
                <p><b>3.&nbsp; Can the bartenders prepare martinis? Yes,________</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="31">a</span>&nbsp;<span>they can</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="32">b</span>&nbsp;<span> they read</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="33">c</span>&nbsp;<span>you can</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer3"></span>
                        <input type="hidden" id="question3">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu3"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>
            <div>
                <p><b>4.&nbsp; He________nice fish when he was a child</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="41">a</span>&nbsp;<span>can grill</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="42">b</span>&nbsp;<span>couldn't grill</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="43">c</span>&nbsp;<span>couldn't to swim</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer4"></span>
                        <input type="hidden" id="question4">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu4"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>
            <div>
                <p><b>5.&nbsp;________cook well when you were a child?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="51">a</span>&nbsp;<span>Could you</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="52">b</span>&nbsp;<span>Could you to</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="53">c</span>&nbsp;<span>You could</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer5"></span>
                        <input type="hidden" id="question5">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu5"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>
            <div>
                <p><b>6.&nbsp; She________ 3 dishes at a time.</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="61">a</span>&nbsp;<span>can serve</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="62">b</span>&nbsp;<span>can serves</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="63">c</span>&nbsp;<span>can to serve</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer6"></span>
                        <input type="hidden" id="question6">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu6"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>

            <div>
                <p><b>7.&nbsp; I________ help you tomorrow.</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="71">a</span>&nbsp;<span>be able to</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="72">b</span>&nbsp;<span>will be able</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="73">c</span>&nbsp;<span>will be able to</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer7"></span>
                        <input type="hidden" id="question7">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu7"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>

            <div>
                <p><b>8.&nbsp;________ to work in the kitchen after the operation?</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="81">a</span>&nbsp;<span>Will you be able</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="82">b</span>&nbsp;<span>You will able</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="83">c</span>&nbsp;<span>You will be able</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer8"></span>
                        <input type="hidden" id="question8">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu8"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>

            <div>
                <p><b>9.&nbsp; He________ prepare any food.</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="91">a</span>&nbsp;<span>be able to</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="92">b</span>&nbsp;<span>was be able to</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="93">c</span>&nbsp;<span>wasn't able to</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer9"></span>
                        <input type="hidden" id="question9">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu9"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>

            <div>
                <p><b>10.&nbsp; She________ participate in Master Chef contest.</b></p>
                <div class="row text-left">
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="101">a</span>&nbsp;<span>will be able to</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="102">b</span>&nbsp;<span> will to</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <span class="btn-m3" id="103">c</span>&nbsp;<span>will to not</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <span class="error-answer" id="correct_answer10"></span>
                        <input type="hidden" id="question10">
                    </div>
                    <div class="col-md-12" style="padding-top: 0; text-align: center;">
                        <span id="chqu10"><img class="img-fluid" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>