<div class="container">
    <div class="row">
        <div id="col1">
            <img class="img-fluid" src="../../../content\units\unit3\C14\PAG14_08.png">
            <h3 id="ColorU3">12. Organize the following sentences.</h3>
            <img class="img-fluid" id="img-try-7" src=""><br>
            <br><img class="btn-save img-fluid" data-id="7" src="../../../content/theme/botones/review_but_reposo.png">
        </div>
        <div id="col2">
            <div id="dvSource">
                <div class="row">
                    <div class="col-md-12">
                        <table table>
                            <tr id="answers1">
                                <td id="1">
                                    <h3 id="ColorU3">1.</h3>
                                </td>
                                <td class="ui-state-default" id="order now.">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_07.png">
                                </td>
                                <td class="ui-state-default" id="I">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_08.png">
                                </td>
                                <td class="ui-state-default" id="can">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_09.png">
                                </td>
                                <td class="ui-state-default" id="your">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_10.png">
                                </td>
                                <td class="ui-state-default" id="take">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_11.png">
                                </td>
                                <td style="padding-top: 0; text-align: center;">
                                    <span id="chqu1"><img class="img-fluid" /></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer1"></span></td>
                                <td><input type="hidden" id="question1"></td>
                            </tr>
                            <tr id="answers2">
                                <td id="2">
                                    <h3 id="ColorU3">2.</h3>
                                </td>
                                <td class="ui-state-default" id="have">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_14.png">
                                </td>
                                <td class="ui-state-default" id="we">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_15.png">
                                </td>
                                <td class="ui-state-default" id="steaks?">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_16.png">
                                </td>
                                <td class="ui-state-default" id="Can">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_17.png">
                                </td>
                                <td class="ui-state-default" id="two">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_18.png">
                                </td>
                                <td style="padding-top: 0; text-align: center;">
                                    <span id="chqu2"><img class="img-fluid" /></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer2"></span></td>
                                <td><input type="hidden" id="question2"></td>
                            </tr>
                            <tr id="answers3">
                                <td id="3">
                                    <h3 id="ColorU3">3.</h3>
                                </td>
                                <td class="ui-state-default" id="any">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_19.png">
                                </td>
                                <td class="ui-state-default" id="you">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_20.png">
                                </td>
                                <td class="ui-state-default" id="like">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_21.png">
                                </td>
                                <td class="ui-state-default" id="vegetables">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_22.png">
                                </td>
                                <td class="ui-state-default" id="Would">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_23.png">
                                </td>
                                <td style="padding-top: 0; text-align: center;">
                                    <span id="chqu3"><img class="img-fluid" /></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer3"></span></td>
                                <td><input type="hidden" id="question3"></td>
                            </tr>
                            <tr id="answers4">
                                <td id="4">
                                    <h3 id="ColorU3">4.</h3>
                                </td>
                                <td class="ui-state-default" id="please">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_25.png">
                                </td>
                                <td class="ui-state-default" id="some potatoes">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_26.png">
                                </td>
                                <td class="ui-state-default" id="and">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_27.png">
                                </td>
                                <td class="ui-state-default" id="Yes,">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_28.png">
                                </td>
                                <td class="ui-state-default" id="peas">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_29.png">
                                </td>
                                <td style="padding-top: 0; text-align: center;">
                                    <span id="chqu4"><img class="img-fluid" /></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer4"></span></td>
                                <td><input type="hidden" id="question4"></td>
                            </tr>
                            <tr id="answers5">
                                <td id="5">
                                    <h3 id="ColorU3">5.</h3>
                                </td>
                                <td class="ui-state-default" id="with">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_31.png">
                                </td>
                                <td class="ui-state-default" id="drink">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_32.png">
                                </td>
                                <td class="ui-state-default" id="Anything">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_33.png">
                                </td>
                                <td class="ui-state-default" id="that">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_34.png">
                                </td>
                                <td class="ui-state-default" id="to">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_35.png">
                                </td>
                                <td style="padding-top: 0; text-align: center;">
                                    <span id="chqu5"><img class="img-fluid" /></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer5"></span></td>
                                <td><input type="hidden" id="question5"></td>
                            </tr>
                            <tr id="answers6">
                                <td id="6">
                                    <h3 id="ColorU3">6.</h3>
                                </td>
                                <td class="ui-state-default" id="'d">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_37.png">
                                </td>
                                <td class="ui-state-default" id="and a lemonade">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_38.png">
                                </td>
                                <td class="ui-state-default" id="please">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_39.png">
                                </td>
                                <td class="ui-state-default" id="a mineral water">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_40.png">
                                </td>
                                <td class="ui-state-default" id="We">
                                    <img class="img-fluid" src="../../../content/units/unit3/C14/images/14_41.png">
                                </td>
                                <td style="padding-top: 0; text-align: center;">
                                    <span id="chqu6"><img class="img-fluid" /></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer6"></span></td>
                                <td><input type="hidden" id="question6"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>