<div class="container">
    <div class="row">
        <div id="col1">
            <h3 id="ColorU3">11. Read the definitions for some skills kitchen staff should have and then match them to the correct skills name.</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-6" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="6" src="../../../content/theme/botones/review_but_reposo.png"><br>
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
        </div>
        <div id="col2">
            <img class="img-fluid" src="../../../content/units/unit3/C13/PAG13_08.png">
            <p>If you like to work in the kitchen, you need some skills to work in it. Some of these skills are:
            </p>

            <div id="dvSource">
                <table>
                    <tbody>
                        <tr>
                            <td><img class="img-fluid" id="answer1" src="../../../content/units/unit3/C13/images/13_11.png"></td>
                            <td><img class="img-fluid" id="answer2" src="../../../content/units/unit3/C13/images/13_12.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer3" src="../../../content/units/unit3/C13/images/13_14.png"></td>
                            <td><img class="img-fluid" id="answer4" src="../../../content/units/unit3/C13/images/13_15.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer5" src="../../../content/units/unit3/C13/images/13_16.png"></td>
                            <td><img class="img-fluid" id="answer6" src="../../../content/units/unit3/C13/images/13_17.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer7" src="../../../content/units/unit3/C13/images/13_18.png"></td>
                            <td><img class="img-fluid" id="answer8" src="../../../content/units/unit3/C13/images/13_19.png"></td>
                        </tr>
                        <tr>
                            <td><img class="img-fluid" id="answer9" src="../../../content/units/unit3/C13/images/13_20.png"></td>
                            <td><img class="img-fluid" id="answer10" src="../../../content/units/unit3/C13/images/13_21.png"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div id="col3">

            <div>
                <!--<input type="text" id="question1" />-->
                <div class="input-group col-sm-8 content-test">
                    <span>1.</span>
                    <td><img id="content1" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question1"><span>During mealtimes, the kitchen can get very hectic. Most kitchen accidents happen when people are rushing to complete orders</span>
                </div>
                <span class="error-answer" id="correct_answer1"></span>
                <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                    <span id="chqu1"><img class="img-fluid" /></span>
                </div>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>2.</span>
                    <td><img id="content2" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question2">
                    <span>As a chef, you need to be able to quickly chop, slice, dice and peel food.</span>

                </div>
                <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                    <span id="chqu2"><img class="img-fluid" /></span>
                </div>
                <span class="error-answer" id="correct_answer2"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>3.</span>
                    <td><img id="content3" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question3">
                    <span>When people pay a lot of money for their meals, they will expect a meal beautifully prepared.</span>
                </div>
                <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                    <span id="chqu3"><img class="img-fluid" /></span>
                </div>
                <span class="error-answer" id="correct_answer3"></span>
            </div>

            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>4.</span>
                    <td><img id="content4" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question4">
                    <span>You'll need to remember recipes and specific orders. When orders pile up, there will be little time to look at cookbooks</span>
                    <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                        <span id="chqu4"><img class="img-fluid" /></span>
                    </div>
                </div>
                <span class="error-answer" id="correct_answer4"></span>
            </div>
            <div>
                <div class="input-group col-sm-8 content-test">
                    <span>5.</span>
                    <td><img id="content5" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                    <input type="hidden" id="question5">
                    <span>To have the most efficient kitchen, all food items, dishes, tools and cutlery need to be well arranged.</span>
                    <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                        <span id="chqu5"><img class="img-fluid" /></span>
                    </div>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <span>6.</span>
                        <td><img id="content6" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                        <input type="hidden" id="question6">
                        <span>Every location has a set of health codes. It is important that the kitchen staff understand and comply with the codes</span>
                        <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                            <span id="chqu6"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer5"></span>
                    <span class="error-answer" id="correct_answer6"></span>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <span>7.</span>
                        <td><img id="content7" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                        <input type="hidden" id="question7">
                        <span>Chefs need to make quick decisions since life in the kitchen moves rapidly</span>
                        <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                            <span id="chqu7"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer7"></span>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <span>8.</span>
                        <td><img id="content8" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>

                        <input type="hidden" id="question8">
                        <span>Employees need to work well with others. It is important to give and receive orders politely, even during hectic times.</span>
                        <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                            <span id="chqu8"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer8"></span>
                </div>
                <div>
                    <div class="input-group col-sm-8 content-test">
                        <span>9.</span>
                        <td><img id="content9" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                        <input type="hidden" id="question9">
                        <span>The best chefs can look at stressful situations with a sense of humor and treat their coworkers kindly.</span>
                        <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                            <span id="chqu9"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group col-sm-8 content-test">
                            <span>10.</span>
                            <td><img id="content10" src="../../../content/units/unit1/img/pag16/images_answer.png"></td>
                            <input type="hidden" id="question10">
                            <span>Chefs need to know how much food to order, which staff to schedule and when to prepare for special events.</span>
                            <div class="col-sm-8" style="padding-top: 0; text-align: center;">
                                <span id="chqu10"><img class="img-fluid" /></span>
                            </div>
                        </div>
                        <span class="error-answer" id="correct_answer9"></span>
                        <span class="error-answer" id="correct_answer10"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>