<div class="container">
    <div class="row">
        <div id="col1">
            <h2 id="ColorU3">13. Read the following conversation between two wine lovers, Bill and Fleur, with the owner of a shop that sells wines. Bill and Fleur are trying a number of different wines at the shop.</h2>
            <img class="img-fluid" src="../../../content\units\unit3\C15\PAG15_14.png">
        </div>
        <div id="col2">
            <h3 id="ColorU3">Wine tasting</h3>
            <div class="content-zoom-sm">
                <p class="zoom-text text-left">
                    Read the following conversation between two wine lovers, Bill and Fleur, with the owner of a shop that sells wines. Bill and Fleur are trying a number of different wines at the shop. <br>
                    <b>Owner:</b> 'So, the first wine we have for you to taste is a white wine. It's a Sauvignon Blanc and the vintage is 2008. It's from a vineyard close to Wellington in New Zealand.'<br>
                    <b>Fleur:</b> 'Well, the wine isn't very clear, it's very cloudy. It doesn't smell very nice at all. In fact it smells like wet newspaper. I don't think I want to drink this.'<br>
                    <b>Bill:</b> 'I'll do it. It's very sour, it's like eating a lemon. I think it's <b>corked</b>. That accounts for the color, smell and taste. It's been contaminated.'<br>
                    <b>Owner:</b> 'I'm sorry, 1 in 20 bottles of wine that are made are corked. I'll open another bottle. Here you go, this looks ok.'<br>
                    <b>Fleur:</b> 'Oh yes, this is fine. It has a good <b> nose</b>, it smells a little of apples and also of freshly cut grass.'<br>
                    <b>Bill:</b> 'You're right. It's delicious. It has a very <b> crisp</b> taste, it has a sour taste like the grapes weren't ripe. But it's not too strong. It also has a taste of kiwi fruit for me. A combination of sweet and sour. A perfect wine to have during the summer.'<br>
                    <b>Owner:</b> 'So, on to the next wine. It's a red wine. This is a Bordeaux from Château Jean Lamuf. It's vintage is 2002.'<br>
                    <b>Bill:</b> 'Well, its color is perfect for a Bordeaux. It has a good nose. I can smell cinnamon and also oranges.'<br>
                    <b>Owner:</b> 'With this wine, it's essential that you let it <b> breathe</b> before drinking it. So, move it gently around in the glass to introduce air into the wine before trying it.'<br>
                    <b>Fleur:</b> 'It doesn't taste of oranges at all. In fact, it's quite <b> oaky</b>. The wood barrel which it was stored in has definitely given it a toasty and wooden flavor. It's also quite fruity with a subtle taste of cinnamon as well. But it's well-balanced</b>, neither the alcohol in the wine nor any one of the flavors in the wine <b> dominates</b> the overall taste. It's very nice.'<br>
                    <b>Bill:</b> 'I agree. It's also <b> full-bodied</b>. You know that you're drinking wine because it feels heavy in the mouth and you can taste the alcohol. Very nice indeed.'<br>
                    <b>Owner:</b> 'On to the last of the wines that I'd like you to try. This is another red wine. It's a Shiraz from Australia. It's a wine from last year, so it's a young vintage.'<br>
                    <b>Bill:</b> 'It has a very bland nose, I can't really smell anything in particular. My god, it has a very strong taste of <b> tobacco</b>, like a cigar. Interestingly, it has a <b> smoky</b> taste, a little bit like smoked sausages. Normally, with a Shiraz you expect it to have a spicy taste, you know a taste of pepper or cinnamon. But this doesn't have it at all. It's full-bodied for a Shiraz. I think that the <b> tannin</b> is dominating the flavour of the wine, the wine tastes a little bit bitter for me, like the taste of tea.'<br>
                    <b>Fleur:</b> 'Yes. I agree with you. But I think there is a <b> hint of</b> cinnamon in the wine. It's very subtle because the tannin is dominating. But I can taste it. Although with the finish</b> of the wine, it's a lot spicier than when you have the wine actually in your mouth. But it's a not a very good Shiraz, it lacks <b> depth</b>. It doesn't have too many different flavors that you would normally expect with a good Shiraz.<br>

                </p>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <br>
                    <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                    <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                    <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit3\C15\PAG15_10.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>