<div class="container">
    <div class="row">
        <div id="col1">

            <h3>1.Talk individually about the catering questions below and then discuss with a partner.</h3>

            <div>
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="../../../content\units\unit1\img\pag4\images_10.png" alt="">
                    </div>

                </div>
                
            </div>
        </div>
        <div id="col2">
            <ol>
                <li>What’s catering?</li>
                <li>Mention 5 important aspects when catering and describe why they are important.</li>
                <li>Do you need any skills for catering? Describe them.</li>
                <li>Does it divide into sectors? Talk about them.</li>
                <li>What do you know about the best catering company?</li>
            </ol>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit1\img\pag4\images_08.png">
        </div>
        <!--<div style="position: absolute; left:0;top:5%; width: 4%; cursor: pointer;"><img class="img-fluid" src="../../../content/theme/botones/screen_but.png"></div>-->
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>