<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3>15. What do these types of service <br> refer to?</h3>
            </div>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="../../../content\units\unit1\img\pag23\images_12.png"></div>
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/audio_but_reposo-2.png" alt="English" onclick="this.src='../../../content/theme/botones/audio_but_press-1.png';" onmouseout="this.src='../../../content/theme/botones/audio_but_reposo-2.png';"
                        onclick="ocultar();">
                    <input type="image" name="Español" onclick="playAudioSpa()" src="../../../content/theme/botones/audio_but_press-3.png" alt="Español" onclick="this.src='../../../content/theme/botones/audio_but_reposo-4.png';" onmouseout="this.src='../../../content/theme/botones/audio_but_press-3.png';">
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit1/sounds/audios/lets talk.mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit1/sounds/audios/lets talk 2 espanol.mp3"></audio>
        </div>
        <div id="col2">
            <ol>
                <li>Silver Service/Platter to Plate/ English Service</li>
                <li>Pre-Plated Service/American Service</li>
                <li>Family Service/French Service</li>
                <li>Buffet Service</li>
                <li>Gueridon Service</li>
                <li>Russian Service</li>
            </ol>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit1\img\pag23\images_08.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>