<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3>6. Choose True or False according to the text.</h3>
            </div>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-3" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="3" src="../../../content/theme/botones/review_but_reposo.png">
                </div>
            </div>
        </div>
        <div id="col2">
            <table class="table table-borderless table-test">
                <thead>
                    <th></th>
                    <th>True</th>
                    <th>False</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left" rowspan="2">
                            1. People do not care about enjoying the food service at celebrations because they like to cook.
                        </td>
                        <td>
                            <div class="btn-t3" id="11"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="10"></div>
                        </td>
                        <td>
                            <span id="chqu1"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer1"></span></td>
                        <td><input type="hidden" id="question1"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2">2. The market for catering is not a great opportunity to start a business.
                        </td>
                        <td>
                            <div class="btn-t3" id="21"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="20"></div>
                        </td>
                        <td>
                            <span id="chqu2"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer2"></span></td>
                        <td><input type="hidden" id="question2"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2">3. Catering firms gain a lot of profit in several kinds of events.
                        </td>
                        <td>
                            <div class="btn-t3" id="31"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="30"></div>
                        </td>
                        <td>
                            <span id="chqu3"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer3"></span></td>
                        <td><input type="hidden" id="question3"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2">4. People prefer eating at home when they have big celebrations.
                        </td>
                        <td>
                            <div class="btn-t3" id="41"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="40"></div>
                        </td>
                        <td>
                            <span id="chqu4"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer4"></span></td>
                        <td><input type="hidden" id="question4"></td>
                    </tr>
                    <tr>
                        <td class="text-left" rowspan="2"> 5. The staff behind an event works so hard to make everything works well.
                        </td>
                        <td>
                            <div class="btn-t3" id="51"></div>
                        </td>
                        <td>
                            <div class="btn-t3" id="50"></div>
                        </td>
                        <td>
                            <span id="chqu5"><img class="img-fluid" /></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><span class="error-answer" id="correct_answer5"></span></td>
                        <td><input type="hidden" id="question5"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>