<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3>14. Suggesting a plan to a costumer.</h3>
            </div>
            <div>
                <p class="boldp">Read the description below and suggest a catering plan for the costumer, make a list of the things you can suggest to Rhyta and write a short text about your advice to Rhyta.</p>
            </div>

        </div>
        <div id="col2">
            <h3>The company’s event</h3>
            <div class="content-zoom">
                <p class=" zoom-text text-left">
                    Rhyta is a Public relations officer in a company in town. The company where she works fabricates house furniture. The company is celebrating its 20th anniversary and Rhyta is in charge of planning the event. She is asking on your catering firm for the
                    menus and plans you have in offer. The company has 60 employees and all of them accepted to join the event on Saturday. Rhyta says the company is not so strict with the food, but they want really good drinks for the celebration. Rhyta
                    also affirms that the event has to be held in the company’s workplace.
                </p>
            </div>
            <div class="col-md-12 col-sm-12 text-center">
                <div class="row text-center">
                    <div class="col-md-12">
                        <br>

                        <img class="img-fluid" id="lbl-text" src="../../../content/theme/botones/text_but.png">
                        <img class="btn-zoom plus img-fluid" id="btn-zoomin" src="../../../content/theme/botones/mas_but.png">
                        <img class="btn-zoom img-fluid" id="btn-zoomout" src="../../../content/theme/botones/menos_but.png">
                    </div>
                </div>
            </div>
        </div>
        <div id="col3">
            <img class="img-fluid" src="../../../content\units\unit1\img\pag22\image_03.png">
            <p class="boldp">You can mention: budget, timeframe, shows and spectacles, type of service, materials, ingredients, etc…</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>