<div class="container">
    <div class="row">
        <div id="col1">
            <h3>3. Complete the chart with the information from the text.</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-1" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="1" src="../../../content/theme/botones/review_but_reposo.png">
                </div>
            </div>
        </div>
        <div id="col2">
            <div class="row">
                <div class="col-sm-4">
                    <p><strong id="cuestionario1">TYPES OF CATERING</strong></p>
                    <p>Commercial catering</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">1. </span>
                        </div>
                        <textarea class="form-control" id="question1"></textarea>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu1"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer1"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">2. </span>
                        </div>
                        <input type="text" class="form-control" id="question2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu2"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer2"></span>
                    <!--<span class="error-answer" id="correct_answer2">Correct answer: Answer 2</span>-->
                </div>
                <div class="col-sm-4">
                    <p><strong id="cuestionario1">TYPES OF VENUES</strong></p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">3. </span>
                        </div>
                        <input type="text" class="form-control" id="question3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu3"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer3"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">4. </span>
                        </div>
                        <input type="text" class="form-control" id="question4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu4"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer4"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">5. </span>
                        </div>
                        <input type="text" class="form-control" id="question5">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu5"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer5"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">6. </span>
                        </div>
                        <input type="text" class="form-control" id="question6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu6"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer6"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">7. </span>
                        </div>
                        <input type="text" class="form-control" id="question7">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu7"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer7"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">8. </span>
                        </div>
                        <input type="text" class="form-control" id="question8">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu8"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer8"></span>
                    <p>Factory or office block canteens Hospital</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">9. </span>
                        </div>
                        <input type="text" class="form-control" id="question9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu9"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer9"></span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">10.</span>
                        </div>
                        <input type="text" class="form-control" id="question10">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu10"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer10"></span>
                    <p>Commercial catering</p>
                </div>
                <div class="col-sm-4">
                    <p><strong id="cuestionario1">TYPES OF SERVICE</strong></p>
                    <p>Takeaway</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">11.</span>
                        </div>
                        <textarea class="form-control" id="question11"></textarea>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu11"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer11"></span>
                    <p>Self-service</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">12.</span>
                        </div>
                        <textarea class="form-control" id="question12"></textarea>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="chqu12"><img class="img-fluid" /></span>
                        </div>
                    </div>
                    <span class="error-answer" id="correct_answer12"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>