<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3>11. Read the job descriptions and match them to their job role names.</h3>
            </div>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-7" src=""><br>
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="7" src="../../../content/theme/botones/review_but_reposo.png">
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="image" name="English" onclick="playAudioEng()" src="../../../content/theme/botones/audio_but_reposo-2.png" alt="English" onclick="this.src='../../../content/theme/botones/audio_but_press-1.png';" onmouseout="this.src='../../../content/theme/botones/audio_but_reposo-2.png';"
                        onclick="ocultar();">
                </div>
            </div>
            <audio id="audioEng" src="../../../content/units/unit1/sounds/pagina 11 job rules .mp3"></audio>
            <audio id="audioSpa" src="../../../content/units/unit1/sounds/pagina 11 job rules .mp3"></audio>
        </div>
        <div id="col2">
            <div class="row">
                <div class="col-sm-5">
                    <table>
                        <tbody>
                            <tr>
                                <td><img class="img-fluid" id="answer1" data-id="c" src="../../../content/units/unit1/img/pag12/actividad12_07.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer2" data-id="a" src="../../../content/units/unit1/img/pag12/actividad12_10.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer3" data-id="d" src="../../../content/units/unit1/img/pag12/actividad12_12.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer4" data-id="b" src="../../../content/units/unit1/img/pag12/actividad12_14.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer5" data-id="g" src="../../../content/units/unit1/img/pag12/actividad12_16.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer6" data-id="e" src="../../../content/units/unit1/img/pag12/actividad12_18.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer7" data-id="f" src="../../../content/units/unit1/img/pag12/actividad12_20.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer8" data-id="i" src="../../../content/units/unit1/img/pag12/actividad12_22.png"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-7">
                    <table>
                        <tbody>
                            <tr>
                                <td><img class="img-fluid" id="content1" data-id="2" src="../../../content/units/unit1/img/pag12/actividad12_08.png"></td>
                                <td><span id="chqu1"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer1"></span></td>
                                <td><input type="hidden" id="question2"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content2" data-id="4" src="../../../content/units/unit1/img/pag12/actividad12_11.png"></td>
                                <td><span id="chqu2"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer2"></span></td>
                                <td><input type="hidden" id="question4"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content3" data-id="1" src="../../../content/units/unit1/img/pag12/actividad12_13.png"></td>
                                <td><span id="chqu3"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer3"></span></td>
                                <td><input type="hidden" id="question1"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content4" data-id="3" src="../../../content/units/unit1/img/pag12/actividad12_15.png"></td>
                                <td><span id="chqu4"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer4"></span></td>
                                <td><input type="hidden" id="question3"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content5" data-id="6" src="../../../content/units/unit1/img/pag12/actividad12_17.png"></td>
                                <td><span id="chqu5"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer5"></span></td>
                                <td><input type="hidden" id="question6"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content6" data-id="7" src="../../../content/units/unit1/img/pag12/actividad12_19.png"></td>
                                <td><span id="chqu6"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer6"></span></td>
                                <td><input type="hidden" id="question7"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content7" data-id="5" src="../../../content/units/unit1/img/pag12/actividad12_21.png"></td>
                                <td><span id="chqu7"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer7"></span></td>
                                <td><input type="hidden" id="question5"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content8" data-id="9" src="../../../content/units/unit1/img/pag12/actividad12_23.png"></td>
                                <td><span id="chqu8"><img class="img-fluid" /></span></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>