<div class="container">
    <div class="row">
        <div id="col1">
            <div>
                <h3>8. How do people celebrate the social events below? Describe them.</h3>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img class="img-fluid" src="../../../content\units\unit1\img\pag15\image_13.png" alt="">
                </div>

            </div>
        </div>

        <div class="text-right" id="col2">
            <img class="img-fluid" src="../../../content\units\unit1\img\pag15\image_08.png">
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>