<div class="container">
    <div class="row">
        <div id="col1">
            <h3>17. Match the name of the job to the corresponding job keys.</h3>
            <div class="row">
                <div class="col-10 text-center">
                    <img class="img-fluid" id="img-try-8" src="">
                </div>
                <div class="col-10 text-center">
                    <img class="btn-save img-fluid" data-id="8" src="../../../content/theme/botones/review_but_reposo.png">
                </div>
                <div class="col-10 text-center">
                    <button class="btn btn-danger btn-try">Try again <img class="img-fluid" src="../../../content/theme/icons/refresh.png"></button>
                </div>
            </div>
        </div>
        <div id="col2">
            <div class="row">
                <div class="col-sm-5">
                    <table>
                        <tbody>
                            <tr>
                                <td><img class="img-fluid" id="answer1" data-id="e" src="../../../content/units/unit1/img/pag19/q2.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer2" data-id="f" src="../../../content/units/unit1/img/pag19/q3.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer3" data-id="b" src="../../../content/units/unit1/img/pag19/q4.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer4" data-id="c" src="../../../content/units/unit1/img/pag19/q5.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer5" data-id="a" src="../../../content/units/unit1/img/pag19/q6.png"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="answer6" data-id="d" src="../../../content/units/unit1/img/pag19/q1.png"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-7">
                    <table>
                        <tbody>
                            <tr>
                                <td><img class="img-fluid" id="content1" data-id="5" src="../../../content/units/unit1/img/pag19/r1.png"></td>
                                <td><span id="chqu1"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer1"></span></td>
                                <td><input type="hidden" id="question5"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content2" data-id="3" src="../../../content/units/unit1/img/pag19/r2.png"></td>
                                <td><span id="chqu2"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer2"></span></td>
                                <td><input type="hidden" id="question3"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content3" data-id="4" src="../../../content/units/unit1/img/pag19/r3.png"></td>
                                <td><span id="chqu3"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer3"></span></td>
                                <td><input type="hidden" id="question4"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content4" data-id="6" src="../../../content/units/unit1/img/pag19/r4.png"></td>
                                <td><span id="chqu4"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer4"></span></td>
                                <td><input type="hidden" id="question6"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content5" data-id="1" src="../../../content/units/unit1/img/pag19/r5.png"></td>
                                <td><span id="chqu5"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer5"></span></td>
                                <td><input type="hidden" id="question1"></td>
                            </tr>
                            <tr>
                                <td><img class="img-fluid" id="content6" data-id="2" src="../../../content/units/unit1/img/pag19/r6.png"></td>
                                <td><span id="chqu6"><img class="img-fluid" /></span></td>
                            </tr>
                            <tr>
                                <td colspan="2"><span class="error-answer" id="correct_answer6"></span></td>
                                <td><input type="hidden" id="question2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../../js/lib/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../../../js/lib/popper.min.js"></script>
<script type="text/javascript" src="../../../js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../js/lib/sweetalert2.min.js"></script>
<script type="text/javascript" src="../../../js/lib/html2canvas.min.js"></script>
<script type="text/javascript" src="../../../js/audios.js"></script>
<script type="text/javascript" src="../../../js/iframe.js"></script>